<section class="specialize-sec">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3>Specialize</h3>
          <h4>What Our Developers</h4>
          <h4 class="inner-text">Specialize In</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-section">
    <div class="tab-section-inner">
      <div class="tab-col">
        <div class="tab-buttons">
          <div class="tab-btn active" data-tab="tab1">
            <span>Backend</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab2">
            <span>Front-End</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab3">
            <span>CMS</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab4">
            <span>Database</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab5">
            <span>Technology</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab6">
            <span>Servers</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab7">
            <span>Design</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

          <div class="tab-btn" data-tab="tab8">
            <span>Marketing</span>
            <div class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2764_898)"> <path d="M0.707031 29.1484L29.5594 0.937274" stroke="#F26E65" /> <path d="M29.6592 29.3682L29.6592 0.701499" stroke="#F26E65" /> <path d="M0 0.959961H29.3182" stroke="#F26E65" /> </g> <defs> <clipPath id="clip0_2764_898"> <rect width="30" height="30" fill="white" /> </clipPath> </defs> </svg>
            </div>
          </div>

        </div>
      </div>

      <div class="content-col">
        <div class="tab-contents active" id="tab1">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab2">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab3">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab4">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab5">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab6">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab7">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

        <div class="tab-contents" id="tab8">
          <div class="tab-content-wrapper">
            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/html.svg">
              </div>
              <div class="icon-title">
                <h3>HTML</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/css.svg">
              </div>
              <div class="icon-title">
                <h3>CSS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/react.svg">
              </div>
              <div class="icon-title">
                <h3>ReactJS</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/javascript.svg">
              </div>
              <div class="icon-title">
                <h3>JavaScript</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/php.svg">
              </div>
              <div class="icon-title">
                <h3>PHP</h3>
              </div>
            </div>

            <div class="tab-content-inner">
              <div class="icon">
                <img src="../../../assets/img/angular.svg">
              </div>
              <div class="icon-title">
                <h3>Angular</h3>
              </div>
            </div>

          </div>

          <div class="image-sec">
            <div class="image">
              <img src="../../../assets/img/backend-img.webp">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>