<section class="hire-main-sec">

  <div class="container">
    <div class="heading-main-sec" bis_skin_checked="1">
      <h3><span>Squad</span></h3>
      <h4>Hire Your Custom Development Squad</h4>
    </div>

    <div class="hire-con-row">
      <div class="hire-con-item">Hire Web Developers</div>
      <div class="hire-con-item">Hire Mobile App Developers</div>
      <div class="hire-con-item">Hire On-Demand App Developers</div>
      <div class="hire-con-item">Hire WordPress Developers</div>
      <div class="hire-con-item">Hire Shopify Developers</div>
      <div class="hire-con-item">Hire Chatbot Developers</div>
      <div class="hire-con-item">Hire PHP Developers</div>
      <div class="hire-con-item">Hire Graphic Designers</div>
      <div class="hire-con-item">Hire Digital Marketers</div>
    </div>

    <div class="button-sec">
      <a href="javascript:;" class="btn btn-primary rounded-pill">
        <span>Hire Now</span>
      </a>
    </div>
  </div>

  <div class="background-shap">
    <img src="../../../assets/img/squad-bg-shap.webp">
  </div>

</section>