<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/style.css"></link>

  </head>
  {% include "layouts/header.njk" %},
  {% include "layouts/homehero.njk" %}
  {% block content%}
    {{ content | safe }}
  {% endblock content%}

  {% include "layouts/footer.njk" %}
  
</html>