$primaryFonts: 'QAEFQS+TTFirsNeue';
$secondryFornts: "Poppins", serif;
$primaryColor: #000000;
$secondaryColor: #F26E65;
$textBaseColor: #636363;
$white: #fff;
$borderColor: rgba(255, 255, 255, 0.25);
$menuBoxShadow: 0px 0px 30px 0px rgba(242, 110, 101, 0.58);
$footerlink: #868686;

@font-face {
  font-family: 'QAEFQS+TTFirsNeue';
  src: url('/assets/fonts/QAEFQSTTFirsNeue-Regular.eot');
  src: url('/assets/fonts/QAEFQSTTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/QAEFQSTTFirsNeue-Regular.woff2') format('woff2'),
    url('/assets/fonts/QAEFQSTTFirsNeue-Regular.woff') format('woff'),
    url('/assets/fonts/QAEFQSTTFirsNeue-Regular.ttf') format('truetype'),
    url('/assets/fonts/QAEFQSTTFirsNeue-Regular.svg#QAEFQS+TTFirsNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url(../scss/responsive.scss);

body {
  font-family: $secondryFornts;
  background-color: $primaryColor;
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFonts;
}

h1 {
  font-size: 150px;
  color: $white;
  position: relative;
  font-weight: 400;
  line-height: 1.2;

  span {
    display: block;

    &.from-right {
      text-align: right;
    }
  }

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*:after,
*:before,
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.cursor {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  background: $secondaryColor;
  top: 0;
  width: 15px;
  height: 15px;
  z-index: 999;
  transition: transform 0.1s;
}

.primary-btn {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  max-width: 100%;
  height: 60px;
  font-weight: 400;
  color: $white;
  border-radius: 50px;
  position: relative;
  background-color: $borderColor;

  .btn-text {
    position: absolute;
    top: 2px;
    left: 2px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 1;
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    &.white-base {
      background: $white;
      color: $secondaryColor;
    }
  }

  .stock {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 50px;

    &.red-outline {
      border: 2px solid rgba(242, 110, 101, .2);
    }

    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      filter: blur(5px);
      border-radius: 50%;
      background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
      animation: orbitstock 3s infinite linear;
      transform-origin: bottom left;
      left: 0;
      bottom: 0;
      transition: all 1s ease;
    }
  }

  .glow {
    position: absolute;
    width: 20px;
    height: 20px;
    filter: blur(10px);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
    animation: orbitGlow 3s infinite linear;
    transform-origin: bottom left;
    left: 0;
    bottom: 0;
    transition: background 1s ease;
  }

  &:hover {
    .stock {
      &:before {
        animation-play-state: paused;
        left: 0 !important;
        bottom: 0 !important;
        transition: all 1s ease;
        width: 200%;
        height: 200%;
        bottom: -50% !important;
        left: -50% !important;
      }
    }

    .glow {
      animation-play-state: paused;
      left: 0 !important;
      bottom: 0 !important;
      transition: background 1s ease, height 1s ease, width 1s ease;
      width: 100%;
      height: 100%;
    }
  }
}

.secondary-btn {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  max-width: 100%;
  height: 60px;
  font-weight: 400;
  color: $white;
  border: 2px solid $borderColor;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: $secondaryColor;
    color: $white;
    border-color: $secondaryColor;
  }
}

.menu-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $menuBoxShadow;
  position: relative;
}

@keyframes orbitGlow {

  0%,
  100% {
    left: 0;
    bottom: 0;
  }

  25% {
    left: 0;
    bottom: 70%;
  }

  50% {
    left: 65%;
    bottom: 70%;
  }

  75% {
    left: 65%;
    bottom: 0%;
  }
}

@keyframes orbitstock {
  0% {
    left: 0;
    bottom: 0%;
  }

  25% {
    left: 0;
    bottom: 60%;
  }

  50% {
    left: 90%;
    bottom: 60%;
  }

  75% {
    left: 90%;
    bottom: -50%;
  }

  100% {
    left: 0;
    bottom: -50%;
  }
}

.site_wrapper {
  position: relative;
  z-index: 9999;
}

/* Title Section CSS Start */

.heading-main-sec {
  margin: 0px;
  padding: 0px;
  text-align: center;
  z-index: 99;
  position: relative;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px;

    span {
      display: inline-block;
      color: #f26e65;
      text-shadow: 4px -1px 15px rgba(242, 110, 101, 0.74);
    }
  }

  h4 {
    font-size: 60px;
    color: $white;
    line-height: 70px;

    span {
      // display: block;
    }
  }
}

/* Title Section CSS End */

/* Site loader styling */

.loaderWrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  position: absolute;
  min-height: 900px;

  .drawLogowrapper {
    margin-top: auto;

    svg {
      width: 100% !important;
      height: auto !important;
      position: absolute;
      left: 0;
      bottom: 0;

      .moving-dot {
        height: 2px;
        width: 25px;
        animation: blur 4s infinite;
      }
    }
  }

  .rotateGlow {
    position: absolute;
  }

  .leftLine {
    position: absolute;
    left: 1rem;
    top: 0;
    height: 100%;
  }

  .roundeO {
    stroke-dasharray: 500;
    /* Set to match the length of the path */
    stroke-dashoffset: 500;
    /* Fully hidden */
    opacity: 0;
    /* Hidden from view */
  }

  .drawlogo,
  .drawline1,
  .drawline2 {
    opacity: 0;
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);

  }

  100% {
    filter: blur(1px);
  }
}

/* Header Section Style */

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;

  .header-inner {
    padding: 30px 0;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;

    .brandLogo {
      a {
        display: block;
      }
    }

    .brandMenu {
      display: flex;
      align-items: center;

      .menu-btn {
        margin: 0 0 0 30px;
      }

      .menuButton {
        .toggle-btn {
          width: 60px;
          height: 60px;
          margin: 0 0 0 30px;

          #lottie-animation {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}

/* Hero Section Style */

.hero-wrapper {
  position: relative;
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 900px;

  p {
    color: $white;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }

  .btn-wrapper {
    margin-top: 40px;
  }

  h1 {
    position: relative;

    .flying {
      position: absolute;

      &.left-center {
        top: 50%;
        left: 0;
        transform: translateY("-50%");
      }

      &.right-center {
        top: 50%;
        right: 0;
        transform: translateY("-50%");
      }

      &.left-bottom {
        bottom: -70px;
        left: 10%;
      }

      &.left-top {
        top: 0;
        left: 50%;
      }

      &.right-bottom {
        right: 0;
        left: auto;
        bottom: -40px;
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*about us section css start */
.about-sec {
  padding: 175px 0px 90px 0px;
  position: relative;
  z-index: 9;

  img.cust-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .container {
    z-index: 9;
    position: relative;

    .row {
      align-items: center;

      .col-md-4 {

        p.sec-small-title {
          font-size: 16px;
          line-height: 1;
          font-weight: 600;
          display: inline-block;
          color: $secondaryColor;
          margin: 0;
          text-shadow: 5px 0px 15px rgba(242, 110, 101, 0.7);
        }

        &.left-col {

          h3 {
            text-align: left;
          }

          h4 {
            font-size: 60px;
            line-height: 70px;
            margin-top: 20px;
            color: $primaryColor;
            font-weight: 400;
            margin-bottom: 80px;
            text-align: left;
          }

          .img-wrapper {
            position: relative;
            border-radius: 162px;
            width: 325px;
            height: 490px;
            overflow: hidden;
            transition: opacity 0.5s ease;

            img {
              position: absolute;
              inset: 0;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }

        &.right-col {
          margin-right: 0;
          margin-left: auto;

          .img-wrapper {
            position: relative;
            border-radius: 222px;
            width: 380px;
            height: 540px;
            overflow: hidden;
            transition: opacity .5s ease;
            margin-left: auto;

            img {
              position: absolute;
              inset: 0;
              object-fit: cover;
              width: 100%;
              height: 100%;
              transition: opacity 1s ease-in-out;
            }

          }
        }

        &.center-col {
          p {
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            color: $textBaseColor;
            margin: 50px 0 36px 0;
          }

          .img-wrapper {
            position: relative;
            width: 450px;
            height: 490px;
            overflow: hidden;
            transition: opacity 0.5s ease;

            img {
              position: absolute;
              inset: 0;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/*about us section css start */

/* Service Section CSS Start */

.main-service-sec {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $white !important;

  .letter-x {
    font-size: 10vw;
    font-weight: bold;
    position: absolute;
    color: $white;
    z-index: 2;
    transform-origin: center;
    perspective: 1000000px;
    // will-change: transform;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: center;
    will-change: transform;

    svg {
      width: 100vw;
      height: 100%;
    }
  }

  .svg-move-across {
    .first-svg {
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .second-svg {
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-inside-x {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    will-change: transform, opacity;

    h1 {
      position: relative;
      color: #000;
      font-size: 2rem;
      opacity: 0;
      z-index: 3;
      margin: 0;
      will-change: transform, font-size, opacity;
    }

    p {
      position: relative;
      color: #000;
      font-size: 20px;
      line-break: normal;
    }
  }

  .second-svg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.services-title-sec {
  margin-top: -80vh;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  z-index: 9;

  .heading-main-sec {
    h4 {
      font-size: 80px;
      color: $primaryColor;
      line-height: 1.3;
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      max-width: 750px;
      color: $textBaseColor;
      font-size: 18px;
      line-height: 1.8;
      margin: 0 auto 30px auto;

      &:last-child {
        margin: 0 auto;
      }
    }
  }
}


.inner-service-wrapper {
  position: relative;
  overflow: hidden;

  .inner-service-shap {
    position: relative;
    // position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;

    &.fixed {
      position: fixed;
    }

    .inner-shap-1 {
      position: absolute;
      left: -45%;
      top: -65%;
      bottom: auto;
      transition: transform 1s ease-in-out;
    }

    .inner-shap-2 {
      position: absolute;
      right: -80%;
      bottom: 0;
      top: 0;
      transition: transform 1s ease-in-out;
    }
  }

  .inner-service-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 9;
    transition: transform 1s ease-out;

    &.reverse {
      .row {
        flex-direction: row-reverse;
      }

      .svg-draw-sec {
        left: 0;
        right: auto;
        top: 0;
        bottom: 0;

        svg {
          width: 100%;
          // height: 100%;
        }
      }
    }

    .sticky {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .content-col {

      .heading-main-sec {
        h3 {
          text-align: left;
        }

        h4 {
          font-size: 80px;
          line-height: 90px;
          text-align: left;
          color: $white;
          margin: 0 0 30px 0;
          // display: flex;
          flex-wrap: wrap;
        }

        p {
          font-size: 18px;
          line-height: 30px;
          text-align: left;
          color: $white;
          margin: 0 0 30px 0;
        }

        a {
          &.service-btn {
            padding: 20px 40px;
            font-size: 22px;
            color: $white;
            background-color: $secondaryColor;
            border-radius: 15px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            max-width: max-content;
          }
        }
      }
    }

    .svg-draw-sec {
      position: absolute;
      left: auto;
      right: 0;

      svg {
        path {
          stroke: $secondaryColor;
          opacity: 1;
        }
      }

      &.chatbot-development {
        svg {
          margin: 0 auto;
          display: block;
        }
      }
    }

    &.web-cloning {
      .svg-draw-sec {
        padding-left: 80px !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.web-development {
      .svg-draw-sec {
        padding-right: 80px !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.e-commerce {
      .svg-draw-sec {
        padding-left: 80px !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.chatbot {
      .svg-draw-sec {
        padding-right: 80px !important;
        display: flex;
        align-items: flex-end;
      }
    }
    
    &.on-demand {
      .svg-draw-sec {
        padding-left: 80px !important;

        svg {
          width: 100%;
          // height: 100%;
        }
      }
    }

    &.search-engine {
      .svg-draw-sec {
        padding-right: 80px !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.digital-marketing {
      .svg-draw-sec {
        padding-left: 80px !important;

        svg {
          width: 100%;
        }
      }
    }

    &.mobile-app {
      .svg-draw-sec {
        padding-right: 80px !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

  }
}


/* Service Section CSS End */

/* footer css start */
.pb-60 {
  padding-bottom: 60px;
}

.cust-footer-sec {
  padding: 100px 0 60px 0px;

  .black-logo {
    filter: invert(1);
    position: unset !important;
  }

  .border-bottom-cust {
    border-bottom: 1px solid #DCDCDC;
  }
}

/* footer css end */


/* Line Animation CSS Start */

.line-animation {
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 54px;
  left: 60px;


  .line-one {
    position: absolute;
    top: -100%;
    left: 0px;
  }

  .line-two {
    position: absolute;
    top: 20px;
    left: 8px;
  }

  .line-three {
    position: absolute;
    top: 200px;
    left: 12px;
  }
}

.line-animation-right {
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  right: 60px;
  width: 54px;

  .line-one {
    top: -100%;
    position: absolute;
  }

  .line-two {
    position: absolute;
    top: 0px;
    left: 8px;
  }

  .line-three {
    position: absolute;
    top: 200px;
    left: 20px;
  }
}

/* Line Animation CSS End */

/* Blog Post Section CSS Start */

.blog-post-sec {
  position: relative;
  padding: 150px 0;
  overflow: hidden;

  .heading-main-sec {
    h4 {
      font-size: 80px;
      line-height: 90px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    opacity: 0.20;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .bottom-text {
      padding: 30px 90px 60px 30px;
      background-color: #000000;
      margin-top: -10px;
      border-radius: 0 0 10px 10px !important;
    }

    .blog-post-slide {
      position: relative;
      z-index: 2;
      background-color: #000000;
      border-radius: 30px;
      overflow: hidden;
      padding: 1px;
      border-radius: 10px;
    }

    &:hover {
      .blog-post-slide {
        &::before {
          animation-play-state: paused;
          left: 0 !important;
          bottom: 0 !important;
          transition: all 1s ease;
          width: 200%;
          height: 200%;
          bottom: -50% !important;
          left: auto !important;
          right: -50% !important;
        }
      }
    }

    span {
      &.btn-text {
        position: absolute;
        top: 2px;
        left: 2px;
        background: rgba(0, 0, 0, 0.8);
        -webkit-backdrop-filter: blur(100px);
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
      }
    }
  }

  .swiper-button-prev {
    &::after {
      content: "";
      background-image: url(../img/post-right-arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 14px;
      position: absolute;
      transform: rotate(180deg) translate(0px, 0px);
      font-size: 0;
    }

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      filter: blur(5px);
      border-radius: 50%;
      animation: orbitstock 3s infinite linear;
      transform-origin: bottom left;
      left: 0;
      bottom: 0;
      transition: all 1s ease;
      animation-play-state: paused;
    }
  }

  .swiper-button-next {
    &::after {
      content: "";
      background-image: url(../img/post-left-arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 14px;
      transform: rotate(180deg);
      left: 0;
      position: absolute;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      font-size: 0;
    }
  }
}

.bottom-text {
  p {
    color: #F26E65;
    text-transform: capitalize;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    opacity: 1 !important;

    .word {
      .letter {
        transform: translateX(0px) translateZ(0px) scaleX(1) !important;
        opacity: 1 !important;
      }
    }
  }

  h3 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    opacity: 1 !important;

    .word {
      .letter {
        transform: translateX(0px) translateZ(0px) scaleX(1) !important;
        opacity: 1 !important;
      }
    }
  }
}

.swiper-slide {
  &.swiper-slide-active {
    transform: translateY(-50px);
  }
}

.blog-post-sec .swiper-slide.swiper-slide-prev,
.blog-post-sec .swiper-slide.swiper-slide-active,
.blog-post-sec .swiper-slide.swiper-slide-next {
  opacity: 1;
}

.blog-post-sec .swiper-button-prev,
.blog-post-sec .swiper-button-next {
  border: 1px solid rgba(255, 255, 255, 0.20);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
}

.swiper-button-prev-main {
  bottom: 75px;
  top: auto;
  right: 213px;
  left: auto;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;

  .glow {
    position: absolute;
    width: 25px;
    height: 25px;
    filter: blur(10px);
    border-radius: 50%;
    background: unset;
    animation: orbitGlow 3s infinite linear;
    transform-origin: bottom left;
    left: auto;
    right: 0;
    bottom: 0;
    transition: background 1s ease;
    animation-play-state: paused;
  }

  &:hover {
    &::before {
      animation-play-state: running;
    }

    span {
      &.glow {
        animation-play-state: running;
        background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
      }
    }
  }

  span {
    &.btn-text {
      position: absolute;
      top: 5px;
      left: 12px;
      background: rgba(0, 0, 0, 1);
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(100px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      z-index: 1;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
}

.swiper-button-next-main {
  bottom: 75px;
  top: auto;
  right: 120px;
  left: auto;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;

  .glow {
    position: absolute;
    width: 25px;
    height: 25px;
    filter: blur(10px);
    border-radius: 50%;
    background: unset;
    animation: orbitGlow 3s infinite linear;
    transform-origin: bottom left;
    left: auto;
    right: 0;
    bottom: 0;
    transition: background 1s ease;
    animation-play-state: paused;
  }

  .swiper-button-next {
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      filter: blur(5px);
      border-radius: 50%;
      animation: orbitstock 3s infinite linear;
      transform-origin: bottom left;
      left: 0;
      bottom: 0;
      transition: all 1s ease;
      animation-play-state: paused;
    }
  }

  &:hover {
    span {
      &.glow {
        animation-play-state: running;
        background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
      }
    }
  }

  span {
    &.btn-text {
      position: absolute;
      top: 5px;
      left: -9px;
      background: rgba(0, 0, 0, 1);
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(100px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      z-index: 1;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
}

div#lottie-animation {
  height: 30px;
  width: 30px;
}

.blog-post-sec {
  .swiper-slide {
    .blog-post-slide {
      &:before {
        content: "";
        position: absolute;
        width: 242px;
        height: 150px;
        filter: blur(5px);
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
        transform-origin: bottom left;
        left: auto;
        right: -47px;
        bottom: -34px;
        transition: all 1s ease;
        z-index: -1;
      }
    }
  }
}

.blog-swiper-bottom-arrow {
  border: 1px solid #F26E65;
  z-index: 999;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  right: 30px;
  bottom: -20px;
  background-color: #000000;

  img {
    width: 21px !important;
    height: 21px !important;
  }
}

.autoplay-progress-bar {
  position: relative;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.20);
  overflow: hidden;
  margin-top: 10px;
  max-width: 1241px;
  margin: 0 auto;
  margin-top: 116px;

  .progress {
    height: 100%;
    width: 100%;
    transition: width 0.3s linear;
    background: rgb(242, 110, 101);
    background: linear-gradient(260deg, rgba(242, 110, 101, 1) 0%, rgba(242, 110, 101, 0) 100%);
  }
}

.blog-post-slide {
  .blog-img {
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
  }
}

/* Blog Post Section CSS End */

/* Testimonial Section CSS Start */

.testimonial-main-sec {
  margin: 0px;
  padding: 150px 0;
  background: #000;

  .heading-main-sec {
    h4 {
      max-width: 900px;
      margin: 0 auto;
    }
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;

    .row {
      margin-left: -15px;
      margin-right: -15px;
      display: flex;
      flex-wrap: wrap;

      .col-full {
        margin: 0px;
        padding: 0px 15px;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .testimonial-con-sec {
      margin: 0px;
      padding: 0px;
      max-height: 780px;
      overflow: hidden;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 999;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 200px;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 999;
      }

      .col-4 {
        margin: 0px;
        padding: 0px 15px;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;

        .testimonial-item-block {
          margin: 0px 0 10px 0;
          padding: 0px;

          .testimonial-item-block-inner {
            margin: 0px;
            padding: 35px 30px;
            background: #000;
            border: 1px solid rgba(38, 38, 38, 1);
            border-radius: 15px;

            .testimonial-item-icon-sec {
              margin: 0px;
              padding: 0px;

              svg {
                margin: 0 0 20px 0;
              }

              p {
                color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 26px;
                margin: 0px;
              }
            }

            .testimonial-author-sec {
              margin: 30px 0 0 0;
              padding: 0px;

              .testimonial-author-sec-inner {
                margin: 0px;
                padding: 0px;
                display: flex;
                align-items: center;

                .testimonial-author-img {
                  height: 70px;
                  width: 70px;
                  border-radius: 100%;
                  overflow: hidden;
                }

                .testimonial-author-name {
                  margin: 0px;
                  padding: 0 0 0 15px;
                  flex: 0 0 calc(100% - 70px);
                  max-width: calc(100% - 70px);

                  h3 {
                    font-size: 24px;
                    line-height: 26px;
                    color: $white;
                    margin: 0 0 5px 0;
                  }

                  p {
                    font-size: 16px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.7);
                    margin: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Testimonial Section CSS End */

/* Awards Section CSS Start */

.awards-main-sec {
  padding: 150px 0;
  background-color: #F26E65;
  z-index: 9;

  .awards-col {
    width: 20%;
    padding: 0;

    .awards-col-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;
      position: relative;
      z-index: 9;

      .awards-img {
        position: relative;
        z-index: 99;

        img {
          width: 100%;
        }
      }

      .cloud-img {
        margin-top: -80px;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
        }
      }
    }
  }
}

/* Awards Section CSS End */

/* Team Section CSS Start */

.team-main-sec {
  padding: 0 0 150px 0;

  .heading-main-sec {
    h2 {
      margin: 0 0 40px 0;
      font-size: 80px;
      line-height: 90px;
    }

    h4 {
      margin: 0 0 40px 0;
    }
  }

  .team-intro {

    .team-col {
      padding: 0 10px;
    }

    .team-col-inner {
      display: flex;
      flex-direction: column;
      border: 1px solid #262626;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      padding: 1px;

      &:before {
        content: "";
        position: absolute;
        width: 72px;
        height: 20px;
        filter: blur(5px);
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
        transform-origin: bottom left;
        left: auto;
        right: -47px;
        bottom: -34px;
        transition: all 1s ease;
        z-index: -1;
      }

      &:hover:before {
        animation-play-state: paused;
        left: 0 !important;
        bottom: 0 !important;
        transition: all 1s ease;
        width: 200%;
        height: 200%;
        bottom: -50% !important;
        left: auto !important;
        right: -50% !important;
      }

      .member-img {
        padding: 30px 30px 0 30px;
        border-radius: 0 0 20px 20px;
        background-image: url(../img/team-member-shap.png);
        overflow: hidden;
        background-size: 100%;
        background-color: #000000;
        border-radius: 20px;

        img {
          margin: 0 auto;
          display: block;
        }
      }

      .member-details {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000000;
        border-radius: 0 0 20px 20px;
        margin-top: -20px;
        z-index: -1;

        .member-intro {
          h3 {
            font-size: 26px;
            line-height: 30px;
            color: #fff;
            font-weight: 400;
            margin: 0 0 10px 0;
          }

          p {
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            font-weight: 400;
            margin: 0;
            opacity: 0.7;
          }
        }

        .icon-sec {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 26px;

          a {
            width: 100%;
          }
        }
      }
    }
  }

  .button-row {
    margin-top: 40px;

    a {
      margin: 0 auto;
      display: block;
    }
  }
}

/* Team Section CSS End */

/* Counter Section CSS Start */

.counter-main-sec {
  background-color: $white;
  padding: 150px 0;
  z-index: 9;

  .content-col {
    .counter-content {
      h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 20px;
        display: inline-block;
        color: #f26e65;
        text-shadow: 4px -1px 15px rgba(242, 110, 101, 0.74);
      }

      h4 {
        font-size: 80px;
        line-height: 90px;
        color: #000;
        font-weight: 400;
        max-width: 600px;
        margin: 0;
      }
    }
  }

  .counter-slider {
    height: 800px;
    width: 500px;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      font-size: 22px;
      font-weight: bold;
      color: $white;
      height: 500px;
      max-height: 500px;

      &:nth-child(1n) {
        background-color: #000000;
      }

      &:nth-child(2n) {
        background-color: #F2D165;
      }

      &:nth-child(3n) {
        background-color: #F06E65;
      }

      &:nth-child(4n) {
        background-color: #659DF2;
      }

      &:nth-child(5n) {
        background-color: #8865F2;
      }

      .counter-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .count {
          h3 {
            font-size: 120px;
            line-height: 120px;
            margin: 0;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: 1px $white;
            text-stroke: 1px;
            font-family: $secondryFornts;
            opacity: 1 !important;

            .word {
              .letter {
                transform: translateX(0px) translateZ(0px) scaleX(1) !important;
                opacity: 1 !important;
              }
            }
          }
        }

        .count {
          padding: 40px 40px 0 40px;
        }

        .title {
          padding: 0 40px 40px 40px;

          p {
            font-size: 50px;
            line-height: 50px;
            color: $white;
            margin: 0;
            font-weight: 400;
          }
        }
      }

      // &.swiper-slide-prev {
      //   height: 300px !important;
      // }

      // &.swiper-slide-next {
      //   height: 300px !important;
      // }

      // &.swiper-slide-active {
      //   height: 500px !important;
      // }
    }
  }
}


.line-animation,
.line-animation-right {
  opacity: 0;

}


/* Counter Section CSS End */

/* Industries Section CSS Start */

.counter-main-sec {
  +.pin-spacer {
    &:after {
      position: absolute;
      content: "";
      width: 490px;
      height: 100%;
      background-image: url(../img/industries-shap.svg);
      bottom: 0;
      top: auto;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}


.industries-section {
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  height: 150vh;
  z-index: 9;

  .industries-shap {
    position: absolute;
    top: -30%;
    left: 0;
    right: 0;

    .image-sec {
      img {
        width: 100%;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        object-position: center;
        animation: scaleTransform 8s infinite ease-in-out;
      }
    }
  }

  .heading-main-sec {
    h3 {
      text-align: left;
    }

    h4 {
      font-size: 150px;
      line-height: 150px;
      text-align: left;
      max-width: 1170px;

      span {
        &.word {
          &:nth-child(2) {
            padding-left: 21%;
          }
        }
      }
    }
  }

  .product-slider {
    margin-top: -60px;
    position: relative;
    z-index: 99;

    .slider {
      display: flex;
      // align-items: center;

      .slider-item {
        margin: 0 35px;
        border: 1px solid #262626;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        min-width: 20%;

        .industries-item {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -20%, rgb(0, 0, 0) 80%);
            top: 0;
            left: 0;
          }

          .image-sec {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .industries-title {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 99;

            p {
              font-size: 30px;
              line-height: 40px;
              color: $white;
              font-weight: 400;
              text-align: center;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@keyframes scaleTransform {
  0% {
    transform: scale(1) translate(0%, 0%);
  }
  50% {
    transform: scale(1.6) translate(0%, 20%);
  }
  100% {
    transform: scale(1) translate(0%, 0%);
  }
}

/* Industries Section CSS End */

/* Technologies Section CSS Start */

.section_integration {
  background-color: $white;
  position: relative;
  padding-top: 60px;
  overflow: hidden;
  z-index: 9;

  .heading-main-sec {
    h4 {
      color: $primaryColor;
      max-width: 900px;
      margin: 0 auto;
    }
  }

  .animated-img-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;

    img {
      position: relative;
    }
  }
}

.cutting-edge-line {
  width: 39em;
  max-width: none;
  display: block;
}

.cutting-center-logo-wrap {
  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.cutting_outer-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.cutting_inner-circle {
  z-index: 1;
  border-radius: 50%;
  width: 12.5em;
  height: 12.5em;
  position: relative;
  box-shadow: 0 12px 20px #a3a3a333, inset 0 14.21px 67px #e1e1e16e;

  img {
    width: 100%;
  }
}

.cutting_icons {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 120px 0 360px;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: $white;
}

.hide {
  display: none !important;
}

.cutting_icons {
  font-size: 1.1111111111111112vw;
}

.cutting-edge {
  width: 16em;
  height: 16em;
  position: relative;
}

.cutting-edge-line-left.cutting-wrap-1 {
  top: -3.8em;
}

.cutting-tool-icon-wrap {
  &.cutting-wrap-1 {
    top: -1.5em;
    left: 3em;
  }

  z-index: 3;
  background-color: $white;
  /* background-image: radial-gradient(circle,#F26E65 51%,$white0 85.23%); */
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  box-shadow: 0 6px 8px #0000000d;
  border: 2px solid #eaeaea;
}

.cutting-tool-icon {
  z-index: 3;
  box-shadow: none;
  background-color: $white;
  width: 35px;
  height: 35px;
  position: absolute;
  inset: 0%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cutting-tool-icon-wrap.cutting-wrap-2 {
  top: -1.3em;
  left: 19.1em;
}

.cutting-tool-icon {

  &.cutting-tool-icon-left.back,
  &.cutting-tool-icon-right.back {
    display: none;
  }
}

.cutting-line-embed {
  z-index: 2;
  position: absolute;
  inset: 0%;
}

.cutting-edge-line-left {
  &.cutting-wrap-2 {
    top: 3.6em;
  }

  z-index: 2;
  position: absolute;
  right: 14em;
}

.cutting-tool-icon-wrap.cutting-wrap-3 {
  top: -1.5em;
  left: 8em;
}

.cutting-edge-line-left {
  &.left-mobile {
    display: none;
    top: 6.8em;
  }

  &.cutting-wrap-3 {
    top: 6.8em;
  }

  &.cutting-wrap-4 {
    bottom: -2.8em;
  }

  z-index: 2;
  position: absolute;
  right: 14em;
}

.cutting-edge-line-right {
  z-index: 2;
  position: absolute;
  left: 14em;

  &.cutting-wrap-2 {
    top: 3.6em;
  }

  &.cutting-wrap-3 {
    top: 6.8em;
  }

  &.cutting-wrap-4 {
    bottom: -2.8em;
  }
}

svg:not(:root) {
  overflow: hidden;
}

.cutting-tool-icon-wrap {
  &.cutting-wrap-4 {
    top: 0;
    right: 6.5em;
  }

  &.cutting-wrap-5 {
    bottom: -1.6em;
    left: 12em;
  }

  &._6 {
    bottom: -1.6em;
    left: 2rem;
  }

  &._7 {
    bottom: 2.2em;
    right: 8.5em;
  }
}

.cutting-edge-line-right {
  &.cutting-wrap-1 {
    top: -3.8em;
  }

  &.cutting-wrap-2 {
    top: 3.6em;
  }

  &.cutting-wrap-3 {
    top: 6.8em;
  }

  &.cutting-wrap-4 {
    bottom: -2.8em;
  }
}

.cutting-tool-icon-wrap {
  &.cutting-wrap-8 {
    top: -1.6em;
    right: 1.5em;
  }

  &.cutting-wrap-9 {
    top: -1.6em;
    right: 13em;
  }

  &.cutting-wrap-10 {
    top: 0;
    left: 7em;
  }

  &.cutting-wrap-11 {
    top: -1.6em;
    right: 5.5em;
  }

  &.cutting-wrap-12 {
    bottom: -1.6em;
    right: 12.5em;
  }

  &.cutting-wrap-13 {
    bottom: -1.3em;
    left: 13.3em;
  }

  &.cutting-wrap-14 {
    bottom: -1.6em;
    right: 4.5em;
  }
}

.animated {
  .mask-rect {
    animation: slideMask 2s ease-in-out infinite;
    transition: all ease 0.8s;
  }

  .mask-rect-right {
    animation: slideMaskRight 2s ease-in-out infinite;
    transition: all ease 0.8s;
  }

  .cutting-tool-icon-wrap {
    animation: slaceUp 2s ease infinite;
    transition: all ease-in-out 2s;
  }
}

.cutting-line-embed {
  opacity: 0;
}

.animated {
  &.cutting-line-embed {
    opacity: 1;
  }

  .cutting_inner-circle {
    animation: slaceUpCenter 2s ease infinite;
    transition: all ease-in-out 2s;
  }
}


.hide {
  display: none !important;
}

@keyframes slideMask {
  from {
    x: 100%;
    opacity: 0;
  }

  to {
    x: -100%;
    opacity: 1;
  }
}

@keyframes slideMaskRight {
  from {
    x: -100%;
    opacity: 0;
  }

  to {
    x: 100%;
    opacity: 1;
  }
}


@keyframes slaceUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slaceUpCenter {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

/* Technologies Section CSS End */

/* footer css start */
.pb-60 {
  padding-bottom: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.cust-footer-sec {
  padding: 100px 0 60px 0px;
  overflow-x: hidden;
  z-index: 9;

  .black-logo {
    filter: invert(1);
    position: unset !important;
  }

  .border-bottom-cust {
    border-bottom: 1px solid #DCDCDC;
  }

  .bgWhite-bordered {
    position: relative;
    background-color: $white;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      right: -40%;
      width: 100%;
      height: 2px;
      background-color: $secondaryColor;

    }
  }

  .button-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    a.ft-button {
      border: 2px solid $secondaryColor;
      padding: 0 30px;
      border-radius: 50px;
      color: $secondaryColor;
      font-size: 30px;
      height: 70px;
      display: flex;
      align-items: center;
      line-height: 1;
      justify-content: center;
      text-decoration: none;
      margin-left: 50px;
      background-color: $white;
      position: relative;
      z-index: 11;

      img {
        height: 60%;
        margin-right: 15px;
      }

    }
  }

  .map-wrapper-address {
    position: relative;
    padding-right: 150px;

    .topmap-nav {

      .mapnav {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        ul {
          li {
            a {
              position: absolute;
              width: 130px;
              height: 90px;
              background: url('data:image/svg+xml,<svg width="126" height="96" viewBox="0 0 126 96" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_463_3599)"><path fill-rule="evenodd" clip-rule="evenodd" d="M21 15C17.6863 15 15 17.6863 15 21V39C15 42.3137 17.6863 45 21 45H26L31 51L36 45H75C78.3137 45 81 42.3137 81 39V21C81 17.6863 78.3137 15 75 15H21Z" fill="white"/></g><defs><filter id="filter0_d_463_3599" x="0" y="0" width="126" height="96" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="15" dy="15"/><feGaussianBlur stdDeviation="15"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_463_3599"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_463_3599" result="shape"/></filter></defs></svg>');
              background-size: contain;
              background-repeat: no-repeat;
              padding-top: 18px;
              font-size: 10px;
              font-weight: 700;
              color: #000;
              text-decoration: none;
              padding-left: 19px;

              img {
                margin-right: 3px;
              }

              &[href="#india"] {
                left: 430px;
                top: 56px;
              }

              &[href="#US"] {
                top: 47px;
                left: 105px;
              }

              &[href="#UK"] {
                top: -11px;
                left: 279px;
              }

              &[href="#uae"] {
                top: 91px;
                left: 351px;
                background: url('data:image/svg+xml,<svg width="126" height="96" viewBox="0 0 126 96" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_463_3582)"><path fill-rule="evenodd" clip-rule="evenodd" d="M60 21L65 15L70 21L60 21ZM70 21H75C78.3137 21 81 23.6863 81 27V45C81 48.3137 78.3137 51 75 51H21C17.6863 51 15 48.3137 15 45V27C15 23.6863 17.6863 21 21 21H70Z" fill="white"/></g><defs><filter id="filter0_d_463_3582" x="0" y="0" width="126" height="96" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="15" dy="15"/><feGaussianBlur stdDeviation="15"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_463_3582"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_463_3582" result="shape"/></filter></defs></svg>');
                padding-top: 26px;
                padding-left: 20px;
              }
            }
          }
        }

      }
    }

    .map-description {
      display: flex;
      width: 100%;
      position: relative;
      z-index: 11;
      margin-top: 30px;

      .map-item {
        display: none;

        &.active {
          display: flex;
          width: 100%;
        }

        .country-title {
          color: $secondaryColor;
          font-family: $secondryFornts;
          font-weight: 600;
          font-size: 16px;
          text-shadow: 0 5px 15px rgba(242, 110, 101, .7);
          opacity: 1 !important;

          .word {
            .letter {
              transform: translateX(0px) translateZ(0px) scaleX(1) !important;
              opacity: 1 !important;
            }
          }
        }

        address {
          font-size: 18px;
          color: $primaryColor;
          font-weight: 400;
          line-height: 1.3;
        }
      }
    }
  }

  .footer-nav {
    h4 {
      color: $primaryColor;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 30px;
      opacity: 1 !important;

      .word {
        .letter {
          transform: translateX(0px) translateZ(0px) scaleX(1) !important;
          opacity: 1 !important;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      width: 100%;
      flex-direction: column;

      li {
        padding: 0 0 25px;

        a {
          color: $footerlink;
          font-size: 16px;
          font-family: $secondryFornts;
          text-decoration: none;
          transition: all 0.3s color ease-in-out;

          &:hover {
            color: $secondaryColor;
            transition: all 0.3s color ease-in-out;
          }
        }
      }
    }
  }

  .copyright-area {
    border-top: 1px solid #DCDCDC;
    margin-top: 60px;
    padding-top: 40px;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin-left: 10px;
        transform: translateY(0);
        transition: 0.6s ease-in-out;

        &:hover {
          transform: translateY(-15px);
          transition: 0.6s ease-in-out;
        }
      }
    }

  }
}

/* footer css end */

/* Typing Effect CSS Start */

/* Default opacity only for p and a following h3, h4, h5, h6 */

h3,
h4,
h5,
h6,
h3+p,
h3+a,
h4+p,
h4+a,
h5+p,
h5+a,
h6+p,
h6+a,
h3+p,
h3+p+a,
h4+p,
h4+p+a,
h5+p,
h5+p+a,
h6+p,
h6+p+a,
h3+p,
h3+p+p,
h4+p,
h4+p+p,
h5+p,
h5+p+p,
h6+p,
h6+p+p {
  opacity: 0;
  transition: opacity 1s ease-out;
  /* Smooth fade effect */
}




/* Typing Effect CSS End */