@font-face {
  font-family: "QAEFQS+TTFirsNeue";
  src: url("/assets/fonts/QAEFQSTTFirsNeue-Regular.eot");
  src: url("/assets/fonts/QAEFQSTTFirsNeue-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/QAEFQSTTFirsNeue-Regular.woff2") format("woff2"), url("/assets/fonts/QAEFQSTTFirsNeue-Regular.woff") format("woff"), url("/assets/fonts/QAEFQSTTFirsNeue-Regular.ttf") format("truetype"), url("/assets/fonts/QAEFQSTTFirsNeue-Regular.svg#QAEFQS+TTFirsNeue-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Poppins", serif;
  background-color: #000000;
  overflow-x: auto;
}
body.before_load {
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "QAEFQS+TTFirsNeue";
}

h1 {
  font-size: 150px;
  color: #fff;
  position: relative;
  font-weight: 400;
  line-height: 1.2;
}
h1 span {
  display: block;
}
h1 span.from-right {
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*:after,
*:before,
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.cursor {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  background: #F26E65;
  top: 0;
  width: 15px;
  height: 15px;
  z-index: 999;
  transition: transform 0.1s;
}

.primary-btn {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  max-width: 100%;
  height: 60px;
  font-weight: 400;
  color: #fff;
  border-radius: 50px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
}
.primary-btn .btn-text {
  position: absolute;
  top: 2px;
  left: 2px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  z-index: 1;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.primary-btn .btn-text.white-base {
  background: #fff;
  color: #F26E65;
}
.primary-btn .stock {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50px;
}
.primary-btn .stock.red-outline {
  border: 2px solid rgba(242, 110, 101, 0.2);
}
.primary-btn .stock:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  filter: blur(5px);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
  -webkit-animation: orbitstock 3s infinite linear;
          animation: orbitstock 3s infinite linear;
  transform-origin: bottom left;
  left: 0;
  bottom: 0;
  transition: all 1s ease;
}
.primary-btn .glow {
  position: absolute;
  width: 20px;
  height: 20px;
  filter: blur(10px);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(242, 110, 101, 0.58), rgba(242, 110, 101, 0.58) 100%);
  -webkit-animation: orbitGlow 3s infinite linear;
          animation: orbitGlow 3s infinite linear;
  transform-origin: bottom left;
  left: 0;
  bottom: 0;
  transition: background 1s ease;
}
.primary-btn:hover .stock:before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  left: 0 !important;
  bottom: 0 !important;
  transition: all 1s ease;
  width: 200%;
  height: 200%;
  bottom: -50% !important;
  left: -50% !important;
}
.primary-btn:hover .glow {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  left: 0 !important;
  bottom: 0 !important;
  transition: background 1s ease, height 1s ease, width 1s ease;
  width: 100%;
  height: 100%;
}

.secondary-btn {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  max-width: 100%;
  height: 60px;
  font-weight: 400;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.secondary-btn:hover {
  background-color: #F26E65;
  color: #fff;
  border-color: #F26E65;
}

.menu-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #F26E65;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 30px 0px rgba(242, 110, 101, 0.58);
  position: relative;
}

@-webkit-keyframes orbitGlow {
  0%, 100% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: 0;
    bottom: 50%;
  }
  50% {
    left: 85%;
    bottom: 50%;
  }
  75% {
    left: 85%;
    bottom: 0%;
  }
}

@keyframes orbitGlow {
  0%, 100% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: 0;
    bottom: 50%;
  }
  50% {
    left: 85%;
    bottom: 50%;
  }
  75% {
    left: 85%;
    bottom: 0%;
  }
}
@-webkit-keyframes orbitstock {
  0% {
    left: 0;
    bottom: 0%;
  }
  25% {
    left: 0;
    bottom: 60%;
  }
  50% {
    left: 90%;
    bottom: 60%;
  }
  75% {
    left: 90%;
    bottom: -50%;
  }
  100% {
    left: 0;
    bottom: -50%;
  }
}
@keyframes orbitstock {
  0% {
    left: 0;
    bottom: 0%;
  }
  25% {
    left: 0;
    bottom: 60%;
  }
  50% {
    left: 90%;
    bottom: 60%;
  }
  75% {
    left: 90%;
    bottom: -50%;
  }
  100% {
    left: 0;
    bottom: -50%;
  }
}
.site_wrapper {
  position: relative;
  z-index: 9999;
}

/* Site loader styling */
.loaderWrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  position: absolute;
}
.loaderWrapper .drawLogowrapper {
  margin-top: auto;
}
.loaderWrapper .drawLogowrapper svg {
  width: 100% !important;
  height: auto !important;
  position: absolute;
  left: 0;
  bottom: 0;
}
.loaderWrapper .drawLogowrapper svg .moving-dot {
  height: 2px;
  width: 25px;
  -webkit-animation: blur 4s infinite;
          animation: blur 4s infinite;
}
.loaderWrapper .rotateGlow {
  position: absolute;
}
.loaderWrapper .leftLine {
  position: absolute;
  left: 1rem;
  top: 0;
  height: 100%;
}

@-webkit-keyframes blur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(1px);
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(1px);
  }
}
/* Header Section Style */
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
header .header-inner {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
}
header .header-inner .brandLogo a {
  display: block;
}
header .header-inner .brandMenu {
  display: flex;
  align-items: center;
}
header .header-inner .brandMenu .menu-btn {
  margin: 0 0 0 30px;
}
header .header-inner .brandMenu .menuButton .toggle-btn {
  width: 60px;
  height: 60px;
  margin: 0 0 0 30px;
}
header .header-inner .brandMenu .menuButton .toggle-btn #lottie-animation {
  height: 30px;
  width: 30px;
}

/* Hero Section Style */
.hero-wrapper {
  position: relative;
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-wrapper p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.hero-wrapper .btn-wrapper {
  margin-top: 40px;
}
.hero-wrapper h1 {
  position: relative;
}
.hero-wrapper h1 .flying {
  position: absolute;
}
.hero-wrapper h1 .flying.left-center {
  top: 50%;
  left: 0;
  transform: translateY("-50%");
}
.hero-wrapper h1 .flying.right-center {
  top: 50%;
  right: 0;
  transform: translateY("-50%");
}

.btn-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.btn-wrapper a {
  margin-left: 10px;
  margin-right: 10px;
}

/*about us section css start */
.about-sec {
  padding: 175px 0px 90px 0px;
  position: relative;
}
.about-sec img.cust-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.about-sec .container {
  z-index: 9;
  position: relative;
}
.about-sec .container .row {
  align-items: center;
}
.about-sec .container .row .col-md-4 {
  width: 32%;
  max-width: 450px;
}
.about-sec .container .row .col-md-4 p.sec-small-title {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  color: #F26E65;
  margin: 0;
  text-shadow: 5px 0px 15px rgba(242, 110, 101, 0.7);
}
.about-sec .container .row .col-md-4.left-col {
  max-width: 440px;
  margin-right: 55px;
}
.about-sec .container .row .col-md-4.left-col h2 {
  font-size: 60px;
  line-height: 70px;
  margin-top: 20px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 80px;
}
.about-sec .container .row .col-md-4.left-col .img-wrapper {
  position: relative;
  border-radius: 162px;
  width: 325px;
  height: 490px;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.about-sec .container .row .col-md-4.left-col .img-wrapper img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-sec .container .row .col-md-4.right-col {
  margin-right: 0;
  margin-left: auto;
  max-width: 325px;
}
.about-sec .container .row .col-md-4.right-col .img-wrapper {
  position: relative;
  border-radius: 162px;
  width: 325px;
  height: 490px;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.about-sec .container .row .col-md-4.right-col .img-wrapper img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}
.about-sec .container .row .col-md-4.center-col p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #636363;
  margin: 50px 0 36px 0;
}
.about-sec .container .row .col-md-4.center-col .img-wrapper {
  position: relative;
  width: 450px;
  height: 490px;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.about-sec .container .row .col-md-4.center-col .img-wrapper img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/*about us section css start */
/* footer css start */
.pb-60 {
  padding-bottom: 60px;
}

.cust-footer-sec {
  padding: 100px 0 60px 0px;
}
.cust-footer-sec .black-logo {
  filter: invert(1);
  position: unset !important;
}
.cust-footer-sec .border-bottom-cust {
  border-bottom: 1px solid #000;
}

/* footer css end */
/*# sourceMappingURL=main.css.map */