<section class="lets-talk-area cta-button-bar overflow-hidden position-relative">
    <div class="container">
        <div class="lets-talk-block">
            <div class="round-shadow"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="lets-talk-block-right">
                        <div class="col-full">
                            <div class="heading-main-sec text-start">
                                <div class="row align-items-center">
                                  <div class="col-md-10">
                                    <h3><span>Hello</span></h3>
                                    <h4>Have an intersting Project ?</h4>
                                    <p>Let's talk about that!</p>    
                                  </div>
                                  <div class="col-md-2">
                                    <a href="contact-us.html" class="primary-btn" aria-label="Contact Us">
                                      <span class="glow"></span>
                                      <span class="stock red-outline"></span>
                                      <span class="btn-text">Inquire Now</span>
                                    </a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>