<section class="lets-talk-area cta-button-bar overflow-hidden position-relative">
  <div class="container">
    <div class="lets-talk-block">
      <div class="round-shadow"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="lets-talk-block-right">
            <div class="col-full">
              <div class="heading-main-sec text-start">
                <div class="row align-items-center">
                  <div class="col-lg-9 col-md-12">
                    <h3><span>Partner with Cypherox</span></h3>
                    <h4>Ready to take your digital presence to the next level?</h4>
                    <p>Contact today & Discuss your Requirements.</p>
                  </div>
                  <div class="col-lg-3 col-md-12">
                    <a href="get-in-touch.html" class="primary-btn" aria-label="Contact Us">
                      <span class="glow"></span>
                      <span class="stock red-outline"></span>
                      <span class="btn-text">Get in Touch Now</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>