<section class="about-hero">
  <div class="about-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 content-col p-0">
          <div class="heading-main-sec" bis_skin_checked="1">
            <h3><span>{{ bannersubTitle }}</span></h3>
            <h4>{{ bannerTitle }}</h4>
            <p>{{ bannerdesc }}</p>
            {% if bannerbuttontext %}
            <a href="{{ buttonLink }}" class="primary-btn">
              <span class="glow"></span>
              <span class="stock"></span>
              <span class="btn-text">{{ bannerbuttontext }}</span>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6 svg-draw-sec p-0 about-banner-svg">
          {{ bannerHTML | safe }}
        </div>
      </div>
    </div>
  </div>
</section>