{% if (ourProjectsSubTitle and ourProjectsSubTitle | trim != "") 
    or (ourProjectsTitle and ourProjectsTitle | trim != "") 
    or (ourProjectList and ourProjectList | length > 0) %}

  <div class="projects-main-sec overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-full">
          <div class="heading-main-sec text-start">
            {% if ourProjectsSubTitle and ourProjectsSubTitle | trim != "" %}
              <h3><span>{{ ourProjectsSubTitle }}</span></h3>
            {% endif %}
            {% if ourProjectsTitle and ourProjectsTitle | trim != "" %}
              <h4 class="font-100">{{ ourProjectsTitle }}</h4>
            {% endif %}
          </div>
        </div>
        <div class="col-full projects-list">
          {% if ourProjectList and ourProjectList | length > 0 %}
            {% for item in ourProjectList %}
              {% if item.projectImg and item.projectImg | trim != "" %}
                <div class="projects-item">
                  <img src="{{ item.projectImg }}" alt="{{ item.alt | default('Project Image') }}">
                </div>
                <div class="swiper-pagination"></div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endif %}
