<div class="projects-main-sec overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec text-start">
          <h3><span>{{ourProjectsSubTitle}}</span></h3>
          <h4 class="font-100">{{ourProjectsTitle}}</h4>
        </div>
      </div>
      <div class="col-full projects-list">
        {% for item in ourProjectList %}
        <div class="projects-item">
          <img src={{item.projectImg}} alt="{{item.alt}}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>