<section class="turning-app-ideas">
    <div class="container">
        <div class="ideas-box">
            <img src="../../../assets/img/app-ideas.webp" alt="" class="img-fluid">
            <div class="ideas-title">
                <div class="heading-main-sec text-start">
                    <h3>{{turningappideasSubtitle}}</h3>
                    <h4>{{turningappideasTitle}}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="ideas-content">
                    {% for turningappideas in turningappideas %}
                    <p>{{ turningappideas.description }}</p>
                    {% endfor %}

                    <a href="{{ buttonLink }}" class="primary-btn">
                        <span class="glow"></span>
                        <span class="stock"></span>
                        <span class="btn-text">{{ turningappideasbuttontext }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>