{% if (turningImgURL and turningImgURL | trim != "") 
    or (turningappideasSubtitle and turningappideasSubtitle | trim != "") 
    or (turningappideasTitle and turningappideasTitle | trim != "") 
    or (turningappideas and turningappideas | length > 0) 
    or (buttonLink and buttonLink | trim != "") %}

  <section class="turning-app-ideas">
    <div class="container">
      <div class="ideas-box">
        {% if turningImgURL and turningImgURL | trim != "" %}
          <img src="{{ turningImgURL }}" alt="" class="img-fluid">
        {% endif %}
        <div class="ideas-title">
          <div class="heading-main-sec text-start">
            {% if turningappideasSubtitle and turningappideasSubtitle | trim != "" %}
              <h3>{{ turningappideasSubtitle }}</h3>
            {% endif %}
            {% if turningappideasTitle and turningappideasTitle | trim != "" %}
              <h4>{{ turningappideasTitle }}</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-7 col-full">
          <div class="ideas-content">
            {% if turningappideas and turningappideas | length > 0 %}
              {% for idea in turningappideas %}
                {% if idea.description and idea.description | trim != "" %}
                  <p>{{ idea.description }}</p>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if buttonLink and buttonLink | trim != "" %}
              <a href="{{ buttonLink }}" class="primary-btn {{ buttonhide }}">
                <span class="glow"></span>
                <span class="stock"></span>
                <span class="btn-text">{{ turningappideasbuttontext }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endif %}
