
<section class="project-detail-banner">
    <img src="{{ imagePath }}" alt="{{ projectdetailbannerTitle }}" class="img-fluid">
    <div class="project-detail-banner-content">
        <div class="container">
            <div class="project-content-box">
                <div class="project-content-top">
                    <div class="back-button">
                        <a href="/">
                          <span>
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9L2.65719 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.46153 0.999913L1.00004 8.99989L9.46164 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </span>
                          <strong>Back</strong>
                        </a>
                    </div>
                </div>
                <div class="project-content-title">
                    <div class="heading-main-sec IndustriesDesc">
                        <p class="text-secondary-cust">{{IndustriesTitle}}</p>
                        <p class="text-white">{{IndustriesSubTitle}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
