<section class="about-sec bg-white">
  <img src="../../assets/img/dots-bg.webp" alt="Dots background" class="cust-bg">
  <div class="container mx-auto">
    <div class="row mx-0 align-center">
      <div class="col col-md-4 p-0 left-col">
        <div class="heading-main-sec d-flex flex-column">
          <h2 class="order-1">About Cypherox Technologies</h2>
          <h3 class="order-0">About</h3>
        </div>
        <div class="img-wrapper" id="wrapper-1">
          <img src="../../assets/img/about-img-1.png" alt="About journey left image 1" class="left-col-img">
          <img src="../../assets/img/about-img-4.png" alt="About journey left image 2" class="left-col-img">
          <img src="../../assets/img/about-img-7.png" alt="About journey left image 3" class="left-col-img">
        </div>
      </div>
      <div class="col col-md-4 p-0 center-col">
        <div class="img-wrapper" id="wrapper-2">
          <img src="../../assets/img/about-img-2.png" alt="About journey center image 1">
          <img src="../../assets/img/about-img-5.png" alt="About journey center image 2">
          <img src="../../assets/img/about-img-9.png" alt="About journey center image 3">
        </div>
        <p>At Cypherox Technologies, we specialize in transforming your digital vision into reality. As a leading company in website and application development, we combine innovation, expertise, and client-focused strategies to deliver outstanding results. Founded by Vipinraj Nair, our team is dedicated to creating scalable, secure, and user-friendly solutions that align with your business goals. Whether you are a startup or an enterprise, we will ensure your digital presence stands out in today’s competitive landscape.</p>
        <a href="get-in-touch.html" class="primary-btn" aria-label="Contact Us">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Contact Now</span>
        </a>
      </div>
      <div class="col col-md-4 p-0 right-col">
        <div class="img-wrapper" id="wrapper-3">
          <img src="../../assets/img/about-img-3.png" alt="About journey right image 1" class="right-col-img">
          <img src="../../assets/img/about-img-6.png" alt="About journey right image 2" class="right-col-img">
          <img src="../../assets/img/about-img-9.png" alt="About journey right image 3" class="right-col-img">
        </div>
      </div>
    </div>
  </div>
</section>