<section class="awards-main-sec">
  <div class="container">
    <div class="awards-inner-sec row">
      <div class="awards-col">
        <a href="https://www.appfutura.com/companies/cypherox" target="_blank">
          <div class="awards-col-inner">
            <div class="awards-img">
              <img src="../../assets/img/awards_1.png" alt="Awards 1" title="App Futura">
            </div>
  
            <div class="cloud-img">
              <img src="../../assets/img/awards_cloud.png" alt="Cloud" title="App Futura">
            </div>
          </div>
        </a>
      </div>

      <div class="awards-col">
        <a href="https://www.goodfirms.co/company/cypherox-technologies" target="_blank">
          <div class="awards-col-inner">
            <div class="awards-img">
              <img src="../../assets/img/awards_2.png" alt="Awards 2" title="Good Firms">
            </div>
  
            <div class="cloud-img">
              <img src="../../assets/img/awards_cloud.png" alt="Cloud" title="Good Firms">
            </div>
          </div>
        </a>
      </div>

      <div class="awards-col">
        <a href="https://wadline.com/cypherox-technologies-pvt-ltd" target="_blank">
          <div class="awards-col-inner">
            <div class="awards-img">
              <img src="../../assets/img/awards_3.png" alt="Awards 3" title="Wald Line">
            </div>
  
            <div class="cloud-img">
              <img src="../../assets/img/awards_cloud.png" alt="Cloud" title="Wald Line">
            </div>
          </div>
        </a>
      </div>

      <div class="awards-col">
        <a href="https://appfirms.co/developer/developerProfile.php?user=CypheroxTechnologies&page=summary" target="_blank">
          <div class="awards-col-inner">
            <div class="awards-img">
              <img src="../../assets/img/awards_4.png" alt="Awards 4" title="App Firms">
            </div>
  
            <div class="cloud-img">
              <img src="../../assets/img/awards_cloud.png" alt="Cloud" title="App Firms">
            </div>
          </div>
        </a>
      </div>
      
      <div class="awards-col">
        <a href="https://appfirms.co/developer/developerProfile.php?user=CypheroxTechnologies&page=summary" target="_blank">
          <div class="awards-col-inner">
            <div class="awards-img">
              <img src="../../assets/img/awards_5.png" alt="Awards 4" title="Top Mobile App Devolopers">
            </div>
  
            <div class="cloud-img">
              <img src="../../assets/img/awards_cloud.png" alt="Cloud" title="Top Mobile App Devolopers">
            </div>
          </div>
        </a>
      </div>
      
    </div>
</section>