<div class="awards-sec">
  <div class="swiper awards-slider">
    <div class="swiper-wrapper awards-row">
      {% for item in awardsList %}
      <div class="award-col relative swiper-slide">
        <a href={{item.awardLink}} class="position-relative d-block h-100" aria-label="Go to award">
          <img src={{awardTopLamp}} alt="Lamp" class="top-lamp">
          <img src={{awardTopLampLight}} alt="Lamp light" class="top-lamp light-lamp">
          <img src={{item.img}} alt="{{item.alt}}" class="award-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

