<section class="home-hero">
    <div class="hero-wrapper">
        <div class="container">
            <h1>
                <span class="from-left">
                    Crafting Splendid
                </span>
                <span class="from-right">Web Experiences</span>
                <img src="../../assets/img/designer.png" alt="flying" class="flying right-center">
                <img src="../../assets/img/developer.png" alt="flying" class="flying left-center">
            </h1>
            <p>We Create Market-Driven Digital Products And Platforms To Truly Digitize Your Business</p>
            <div class="btn-wrapper">
                <a href="javascript:;" class="primary-btn">
                    <span class="glow"></span>
                    <span class="stock"></span>
                    <span class="btn-text">Contact Now</span>
                </a>
                <a href="javascript:;" class="secondary-btn">Our Services</a>
            </div>
        </div>
    </div>
</section>