<section class="home-hero">
    <div class="hero-wrapper">
        <div class="container">
            <h1>
                <span class="from-left">
                    Crafting Splendid
                </span>
                <span class="from-right">Web Experiences</span>
                <img src="../../assets/img/designer.webp" alt="Flying designer" class="flying right-center">
                <img src="../../assets/img/developer.webp" alt="Flying developer" class="flying left-center">
                <img src="../../assets/img/designer_2.webp" alt="Flying designer 2" class="flying left-bottom">
                <img src="../../assets/img/designer_3.webp" alt="Flying designer 3" class="flying left-top">
                <img src="../../assets/img/designer_4.webp" alt="Flying designer 4" class="flying right-bottom">
            </h1>
            <p class="letters">We Create Market-Driven Digital Products And Platforms To Truly Digitize Your Business</p>
            <div class="btn-wrapper">
                <a href="javascript:;" class="primary-btn" aria-label="Contact Us">
                    <span class="glow"></span>
                    <span class="stock"></span>
                    <span class="btn-text">Contact Now</span>
                </a>
                <a href="javascript:;" class="secondary-btn" aria-label="Go To Services">Our Services</a>
            </div>
        </div>
    </div>
</section>