<section class="home-hero">
    <div class="hero-wrapper">
        <div class="container">
            <h1>
                <span class="from-left">
                    Big Ideas Deserve
                </span>
                <span class="from-right">Better Tech</span>
                <img src="../../assets/img/marketer.webp" alt="Flying marketer" class="flying right-center">
                <img src="../../assets/img/developer.webp" alt="Flying developer" class="flying left-center">
                <img src="../../assets/img/consultant.webp" alt="Flying consultant" class="flying left-bottom blur">
                <img src="../../assets/img/designer_3.webp" alt="Flying designer" class="flying left-top blur">
                <img src="../../assets/img/analyst.webp" alt="Flying analyst" class="flying right-bottom blur">
            </h1>
            <p class="letters">Cypherox Technologies empowers businesses with state-of-the-art website and application development services designed to drive growth.</p>
            <div class="btn-wrapper">
                <a href="/get-in-touch.html" class="primary-btn" aria-label="Contact Us">
                    <span class="glow"></span>
                    <span class="stock"></span>
                    <span class="btn-text">Contact Now</span>
                </a>
                <a href="/about-us.html" class="secondary-btn" aria-label="Go To Services">About Us</a>
            </div>
        </div>
    </div>
</section>