<section class="blog-post-sec">

  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3><span>Latest News</span></h3>
          <h4>Blog Post</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper myblog-post">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="blog-post-slide">
          <div class="blog-img">
            <img src="../../assets/img/degital-development.png" alt="Digital Development">
          </div>
          <div class="bottom-text">
            <p>design & development</p>
            <h3>Everything you need to know about the top 10 DevOps tools in 2022</h3>
          </div>
        </div>
        <div class="blog-swiper-bottom-arrow">
          <a href="javascript:void(0)"> <img src="../../assets/img/post-arrow.svg" alt="right-arrow"></a>
        </div>
        <span class="btn-text"></span>
      </div>

      <div class="swiper-slide">
        <div class="blog-post-slide">
          <div class="blog-img">
            <img src="../../assets/img/development.png" alt="Development">
          </div>
          <div class="bottom-text">
            <p>design & development</p>
            <h3>Web Development in 2022: Latest Trends, Mistakes, Misconceptions</h3>
          </div>
        </div>
        <div class="blog-swiper-bottom-arrow">
          <a href="javascript:void(0)"> <img src="../../assets/img/post-arrow.svg" alt="right-arrow"></a>
        </div>
        <span class="btn-text"></span>
      </div>

      <div class="swiper-slide">
        <div class="blog-post-slide">
          <div class="blog-img">
            <img src="../../assets/img/seo.png" alt="SEO">
          </div>
          <div class="bottom-text">
            <p>seo</p>
            <h3>Awesome WordPress Web Development Tools You Can't-Miss in 2022</h3>
          </div>
        </div>
        <div class="blog-swiper-bottom-arrow">
          <a href="javascript:void(0)"> <img src="../../assets/img/post-arrow.svg" alt="right-arrow"></a>
        </div>
        <span class="btn-text"></span>
      </div>

      <div class="swiper-slide">
        <div class="blog-post-slide">
          <div class="blog-img">
            <img src="../../assets/img/degital-development.png" alt="Digital Development">
          </div>
          <div class="bottom-text">
            <p>design & development</p>
            <h3>Everything you need to know about the top 10 DevOps tools in 2022</h3>
          </div>
        </div>
        <div class="blog-swiper-bottom-arrow">
          <a href="javascript:void(0)"> <img src="../../assets/img/post-arrow.svg" alt="right-arrow"></a>
        </div>
        <span class="btn-text"></span>
      </div>

      <div class="swiper-slide">
        <div class="blog-post-slide">
          <div class="blog-img">
            <img src="../../assets/img/development.png" alt="Development">
          </div>
          <div class="bottom-text">
            <p>design & development</p>
            <h3>Web Development in 2022: Latest Trends, Mistakes, Misconceptions</h3>
          </div>
        </div>
        <div class="blog-swiper-bottom-arrow">
          <a href="javascript:void(0)"> <img src="../../assets/img/post-arrow.svg" alt="right-arrow"></a>
        </div>
        <span class="btn-text"></span>
      </div>

      <div class="swiper-slide">
        <div class="blog-post-slide">
          <div class="blog-img">
            <img src="../../assets/img/seo.png" alt="SEO">
          </div>
          <div class="bottom-text">
            <p>seo</p>
            <h3>Awesome WordPress Web Development Tools You Can't-Miss in 2022</h3>
          </div>
        </div>
        <div class="blog-swiper-bottom-arrow">
          <a href="javascript:void(0)"> <img src="../../assets/img/post-arrow.svg" alt="right-arrow"></a>
        </div>
        <span class="btn-text"></span>
      </div>
    </div>
    <div class="swiper-button-prev-main">
      <span class="glow"></span>
      <div class="swiper-button-prev"></div>
      <span class="btn-text">
        <div id="lottie-animation"></div>
      </span>
    </div>
    <div class="swiper-button-next-main">
      <span class="glow"></span>
      <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
        aria-controls="swiper-wrapper-d4a39212b7e34010f"></div>
      <span class="btn-text">
        <div id="lottie-animation"></div>
      </span>
    </div>
    <div class="autoplay-progress-bar">
      <div class="progress"></div>
    </div>
  </div>
</section>