{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/globleSection/awsomeFeatures.njk" %}
{% include "layouts/career/yourPassion.njk" %}
{% include "layouts/career/opportunities.njk" %}
{% include "layouts/career/employeeTestimonials.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}