<div class="counter-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content-col">
        <div class="counter-content">
          <h3>Lorem Ipsum</h3>
          <h4>We Have Successfully Completed 1500+ Projects</h4>
        </div>
      </div>

      <div class="col-md-6 counter-slider-col">
        <div class="swiper counter-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="counter-inner">
                <div class="count">
                  <h3>195+</h3>
                </div>

                <div class="title">
                  <p>Awards</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="counter-inner">
                <div class="count">
                  <h3>1500+</h3>
                </div>

                <div class="title">
                  <p>Active Member</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="counter-inner">
                <div class="count">
                  <h3>450+</h3>
                </div>

                <div class="title">
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="counter-inner">
                <div class="count">
                  <h3>195+</h3>
                </div>

                <div class="title">
                  <p>Awards</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="counter-inner">
                <div class="count">
                  <h3>1500+</h3>
                </div>

                <div class="title">
                  <p>Active Member</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="counter-inner">
                <div class="count">
                  <h3>450+</h3>
                </div>

                <div class="title">
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>