{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/globleSection/turningYourappideas.njk" %}
{% include "layouts/development-consulting/startSuccessstory.njk" %}
{% include "layouts/development-consulting/appIdeas.njk" %}
{% include "layouts/globleSection/ourProjects.njk" %}
{% include "layouts/mobile-app-development/awsomeFeatures.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/globleSection/ReviewClient.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}