<footer class="cust-footer-sec bg-white">
  <div class="container">
    <div class="d-flex justify-content-between border-bottom-cust align-items-center">
      <div class="d-flex flex-wrap justify-content-between w-100 pb-60">
        <div class="col col-6">
          <a href="/" class="ft-logo-link">
            <div>
              <img src="../../assets/img/cx-logo.svg" alt="ft-logo" class="black-logo">
            </div>
          </a>
        </div>
        <div class="col col-6 justify-content-end d-flex">
          <div class="button-group">
            <a href="tel:9033199949" class="ft-button">                
              <span>+91 9033199949</span></a>
            <a href="mailto:info@cypherox.com" class="ft-button d-lfex">
               <span>info@cypherox.com</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://assets.codepen.io/16327/ScrollSmoother.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>
  <script src="../../assets/js/script.js"></script>
</footer>