<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>


<script src="https://unpkg.com/gsap@3/dist/Draggable.min.js"></script> 
<script>
gsap.from("ul",{
    opacity:0,
    duration:1,
    y:20,
    delay:1
})
gsap.from(".logo",{
    opacity:0,
    duration:1,
    y:20,
    delay:1
})
gsap.from(".col-lg-4",{
    opacity:0,
    duration:1,
    y:20,
    delay:1
})
</script>