<header>
    <div class="cursor"></div>
    <div class="header-container">
        <div class="header-inner">
            <div class="brandLogo">
                <a href="/" aria-label="Go to home page">
                    <img src="../../assets/img/logo-main.svg" alt="logo-main">
                </a>
            </div>

            <nav class="navbar">
                <div class="mega-menu">
                    <ul>
                        {% for item in menu %}
                        <li>
                            <a href="{{ item.menuLink }}" aria-label="{{ item.menuLabel }}"> {{ item.menuText }} </a>

                            {% if item.subMenu %}
                            <div class="second-sub-menu-inner">
                                <ul class="second-sub-menu">
                                    {% for sub in item.subMenu %}
                                    <li>
                                        <a href="{{ sub.menuLink }}" aria-label="{{ sub.menuLabel }}"> {{ sub.menuText }}
                                        </a>
    
                                        {% if sub.subMenu %}
                                        <ul class="third-sub-menu">
                                            {% for subSub in sub.subMenu %}
                                            <li>
                                                <a href="{{ subSub.menuLink }}" aria-label="{{ subSub.menuLabel }}"> {{
                                                    subSub.menuText }} </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>

            <div class="contact-btn-sec">
                <a href="/contact-us" class="primary-btn" aria-label="Contact us">
                    <span class="glow"></span>
                    <span class="stock"></span>
                    <span class="btn-text">Contact Now</span>
                </a>
            </div>


        </div>
    </div>


</header>