<header class="cust-header w-100">
  <div class="container d-flex justify-content-between">
    <a href="" class="logo">
      <img src="../../assets/img/cx-logo.svg" alt="logo">
    </a>
    <div class="cust-menu">
    <a class="base-button" href="javascript:void(0)">Order now</a>
    <a href="javascript:void(0);" class="menu-toggle">
      <img src="../../assets/img/menu-icon.svg" alt="menu">
    </a>
    </div>
  </div>
</header>