{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/hire/ourPartnership.njk" %}
{% include "layouts/globleSection/appDevelopment.njk" %}
{% include "layouts/hire/squad.njk" %}
{% include "layouts/globleSection/ourProjects.njk" %}
{% include "layouts/hire/specialize.njk" %}
{% include "layouts/hire/hireyourDedicatedteam.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/globleSection/ReviewClient.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/blog/ourBlogs.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}