{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/hire/ourPartnership.njk" %}
{% include "layouts/globleSection/appDevelopment.njk" %}
{% include "layouts/hire/squad.njk" %}
{% include "layouts/globleSection/ourProjects.njk" %}
{% include "layouts/hire/specialize.njk" %}
{% include "layouts/hire/hireyourDedicatedteam.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App-info.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/globleSection/ReviewClient.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/blog/related-blogs.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %} 
{% include "layouts/lineAnimation.njk" %}

{% endblock %}