{% extends "base.njk"%}

{% block content %}
{% include "layouts/bannerSection.njk" %}
{% include "layouts/secondSection.njk" %}
{% include "layouts/imgSections.njk" %}
{% include "layouts/gallerySection.njk" %}
{% include "layouts/serviceSection.njk" %}
{% endblock %}