{% extends "base.njk"%}

{% block content %}
{% include "layouts/bannerSection.njk" %}
{% include "layouts/AboutUsSection.njk" %}
{% include "layouts/serviceSection.njk" %}
{% include "layouts/technologiesSection.njk" %}
{% include "layouts/testimonialSection.njk" %}
{% include "layouts/teamSection.njk" %}
{% include "layouts/counterSection.njk" %}
{% include "layouts/blogSection.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/lineAnimation.njk" %}
{% endblock %}