
<section class="about-sec">
        <div class="container">
            <div class="about-sec-inner">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4" data-aos="fade-up-right">
                        <div class="col-left">
                            <span>About Us</span>
                            <h2>Get To Know Our Real-Time Journey</h2>
                        </div>
                        <div class="col-left-img">
                            <img src="assets/img/image-43.png" alt="about-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-center">
                            <div class="col-center-img">
                                <img src="assets/img/Group-1222.png" alt="about-img" class="img-fluid">
                            </div>
                            <p>At Cypherox technologies, we design, develop, and deploy our client’s website on the internet. Moreover, our work isn’t just done there. We can further assist our clients with customizable solutions to build their brand, visibility, and more importantly, creating a sterling reputation among their corresponding discipline of...</p>
                        </div>
                        <div class="col-center-button">
                            <a href="javascript:void(0);">Contact now</a>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-up-left">
                        <div class="col-right">
                            <div class="col-right-img">
                                <img src="assets/img/image-43.png" alt="about-img" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>