<div class="industries-section">

  <div class="industries-shap">
    <div class="image-sec">
      <img src="../../assets/img/industries-bg-shap.png">
    </div>
  </div>

  <div class="container">
    <div class="row" bis_skin_checked="1">
      <div class="col-full" bis_skin_checked="1">
        <div class="heading-main-sec" bis_skin_checked="1">
          <h3><span>Lorem Ipsum</span></h3>
          <h4>Industries <span>We Serve</span></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-full">
      <div class="product-slider">
        <div class="slider">
          <div class="slider-item">
            <div class="industries-item">
              <div class="image-sec">
                <img src="../../assets/img/business.png" alt="business">
              </div>

              <div class="industries-title">
                <p>Business</p>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <div class="industries-item">
              <div class="image-sec">
                <img src="../../assets/img/education.png" alt="education">
              </div>

              <div class="industries-title">
                <p>Education</p>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <div class="industries-item">
              <div class="image-sec">
                <img src="../../assets/img/health-care.png" alt="health-care">
              </div>

              <div class="industries-title">
                <p>Health Care</p>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <div class="industries-item">
              <div class="image-sec">
                <img src="../../assets/img/transportation.png" alt="transition">
              </div>

              <div class="industries-title">
                <p>Transportation</p>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <div class="industries-item">
              <div class="image-sec">
                <img src="../../assets/img/real-estate.png" alt="real-estate">
              </div>

              <div class="industries-title">
                <p>Real Estate</p>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <div class="industries-item">
              <div class="image-sec">
                <img src="../../assets/img/social-network.png" alt="social-network">
              </div>

              <div class="industries-title">
                <p>Social Network</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>