{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/industries-served/industries-list.njk" %}
{% include "layouts/globleSection/ourProjects.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/blog/ourBlogs.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}