{% extends "base.njk"%}

{% block content %}

{% include "layouts/industries-served/Industries-inner-banner.njk" %}
{% include "layouts/industries-served/Industries-summary.njk" %}
{% include "layouts/globleSection/ReviewClient.njk" %}
{% include "layouts/globleSection/ourProjects.njk" %}
{% include "layouts/globleSection/awsomeFeatures.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App-info.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/blog/ourBlogs.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}