<section class="join-demo">
    <div class="container">
        <div class="row">
            <div class="col-12 rounded bg-part">
                <div class="row">
                    <div class="col-12 col-md-7">
                        <div class="join-content">
                            <h3>{{ joinTitle }}</h3>
                            <p>{{joinDescription}}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 align-items-center d-flex justify-content-center ">
                         <a href="{{ herobuttonLink }}" class="btn btn-white">{{ herobuttonText }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>