{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/life-at-cx/event-videos.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}


{% endblock %}