{% extends "base.njk"%}

{% block content %}
{% include "layouts/news/news-banner.njk" %}
{% include "layouts/news/news-summary.njk" %}
{% include "layouts/news/related-news.njk" %}
{% include "layouts/news/latest-news.njk" %}

{% endblock %}