{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/globleSection/turningYourappideas.njk" %}
{% include "layouts/on-demand-app-development/appFeatures.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App-info.njk" %}
{% include "layouts/mobile-app-development/awsomeFeatures.njk" %}
{% include "layouts/globleSection/ReviewClient.njk" %}
{% include "layouts/blogSection.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}