{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/globleSection/ourProjects.njk" %}
{% include "layouts/TestimonialSection.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App-info.njk" %}
{% include "layouts/hire-cta-section.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}


{% endblock %}