{% extends "base.njk"%}

{% block content %}

{% include "layouts/project/project-detail-banner.njk" %}
{% include "layouts/project/summary-sec.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}