<div class="secondSection">
<h2 class="text-center">{{secTitle}}</h2>
<p class="info-box">{{secDesc}}</p>
<div class="info-box-group d-flex flex-wrap mt-4">
{% for listitem in secondlist %}
  <div class="list-box col-4 bg-white d-flex flex-column align-items-center justify-content-between pt-2 pb-4">
    <h3>{{listitem.title}}</h3>
    <p class="mt-1 mb-auto">{{listitem.desc}}</p>
  </div>
{%endfor%}
</div>
</div>