<div class="secondSection">
<p class="info-box">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo suscipit voluptatem quisquam tempora aut dolorum totam debitis odio laboriosam quia qui, tempore omnis molestiae sequi error nesciunt quae animi deleniti!</p>
<div class="btn-group">
  <button class="btn">Button 1</button>
  <button class="btn">Button 2</button>
</div>
</div>