{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleBanner.njk" %}
{% include "layouts/service/ourClients.njk" %}
{% include "layouts/service/appDevelopment.njk" %}
{% include "layouts/service/appService.njk" %}
{% include "layouts/service/awsomeFeatures.njk" %}
{% include "layouts/testimonialSection.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}