{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/service/ourClients.njk" %}
{% include "layouts/globleSection/appDevelopment.njk" %}
{% include "layouts/service/appService.njk" %}
{% include "layouts/service/awsomeFeatures.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/service/process.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}