<section class="cust-section-services z-9 position-relative">
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-content-col">
        <h2>UX UI Design</h2>
        <p>Transform user experiences into business success.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-8 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Responsive Design Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Mobile App Design Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Design Prototyping Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">PSD To HTML Development</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Cloud and DevOps</h2>
        <p>Empower your business with cutting-edge Cloud and DevOps solutions designed for agility, scalability, and security.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Cloud strategy consulting</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Cloud architecture and design</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Cloud migration</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Cloud optimization</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Cloud security</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">DevOps automation</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Continuous testing and monitoring</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Infrastructure as Code (IaC)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-content-col">
        <h2>Artificial Intelligence and Machine Learning</h2>
        <p>Empower your business with cutting-edge Artificial Intelligence and Machine Learning solutions. </p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-4 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">AI-Powered Chatbots and Virtual Assistants</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI-Powered Recommendation Systems</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Predictive Maintenance</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Fraud Detection</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Automated Machine Learning</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Reinforcement Learning</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Model Interpretation and Explanation</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI and ML Strategy Consulting</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI and ML Product Development</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-content-col">
        <h2>Blockchain Development</h2>
        <p>Empower your business with blockchain development services to build decentralized, transparent, and tamper-proof systems.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-4 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">Blockchain Solution Design and Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Smart Contract Development
              </a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Blockchain Integration</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Blockchain Security</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Blockchain Support and Maintenance
              </a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Blockchain Strategy Consulting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-content-col">
        <h2>Virtual and Augmented Reality</h2>
        <p>Transform your business with cutting-edge VR and AR technologies that enhance engagement, interaction, and visualization.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-4 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">VR/AR Solution Design and Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">VR/AR App Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">VR/AR Integration</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">VR/AR Support and Maintenance</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">VR/AR Strategy Consulting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Data Analytics Solutions</h2>
        <p>Transform raw data into meaningful insights with our cutting-edge data analytics services. At Cypherox, we help businesses leverage data-driven strategies to improve decision-making, optimize operations, and drive growth.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Data Collection and Management</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Data Warehousing and Business Intelligence</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Data Analysis and Modeling</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI and Machine Learning</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Data Visualization</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Data Analytics Strategy Consulting</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Data Security and Privacy</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Data Maintenance and Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Generative AI Platforms Solution</h2>
        <p>Transform raw data into meaningful insights with our cutting-edge data analytics services. At Cypherox, we help businesses leverage data-driven strategies to improve decision-making, optimize operations, and drive growth.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">AI Chatbot App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Assistant Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Dialogue Systems</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Voice User Interface (VUI)</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Language Translator App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI Content Generator (Automated Writing)</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Text-to-Speech (TTS) and Speech-to-Text (STT) Systems
              </a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Text Generation for Game Design</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Question and Answer System</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Research Assistant</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Metaverse Development Services</h2>
        <p>Unlock limitless possibilities with advanced Metaverse solutions.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">Real Estate Virtual Assistant Development and Management</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Commerce and Transactions (e-commerce virtual assistant)</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Event Hosting and Management</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Community Building</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Identity and Avatar Management</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Education and Training Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Virtual Marketing Services</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-content-col">
        <h2>Consulting Services</h2>
        <p>Gain a competitive edge with expert consulting services tailored to your business needs. At Cypherox, we help organizations leverage technology, optimize operations, and drive innovation with data-driven strategies and cutting-edge digital solutions.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-8 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Mobile App Development Consulting</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Startup IT Consulting</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">IT Consulting</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Convert Your Website Into An App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">convert your website to android app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">convert your website into ios app</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-content-col">
        <h2>Service Industry</h2>
        <p>Empowering businesses with customized software solutions tailored for various industries, we deliver scalable, efficient, and high-performance applications that drive digital transformation.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-8 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Healthcare Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Finance Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Retail Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Manufacturing Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link"> Transportation Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Education Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Energy Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Agriculture Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Media and entertainment Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Social Networking Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">On-Demand Delivery Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Entertainment Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Health and Fitness Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Food and Drink Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Logistics Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">E-learning Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Ecommerce Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Banking Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Travel and Tourism Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Real Estate Industry</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Photo & Video Industry</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-content-col">
        <h2>Application Development </h2>
        <p>Imagine this: Your business doing cartwheels on smartphones! Yep, that's what we do. We take your cool ideas and turn them into apps that people can't put down.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-8 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">iOS App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Swift App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Objective-C App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Android App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Kotlin App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Java App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Cross-Platform App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Dart App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Flutter App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">React Native App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Xamarin App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Framework App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Golang App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Ruby on Rails App Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI App Development Services</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-content-col">
        <h2>B2B Mobile App Development Services</h2>
        <p>Empower your business with our tailored B2B mobile app development services. We design secure, scalable, and feature-rich applications that streamline workflows, enhance collaboration, and drive operational efficiency.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-4 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">B2B Sales Enablement App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2B eCommerce Platform</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2B Order Management App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2B Logistics and Delivery App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2B Marketplace Solution</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2B Communication and Collaboration App</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-content-col">
        <h2>B2C Mobile App Development Services</h2>
        <p>Engage your customers like never before with our cutting-edge B2C mobile app development services. We create user-centric, visually appealing, and high-performance mobile applications that drive customer satisfaction and loyalty.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-4 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">B2C Sales Enablement App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2C eCommerce Platform</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2C Order Management App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2C Logistics and Delivery App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2C Marketplace Solution</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">B2C Communication and Collaboration App</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Mobile Application Solutions</h2>
        <p>Mobile application solutions encompass the design, development, and deployment of innovative apps tailored to meet specific business and user needs</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Virtual assistant app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Language learning apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AI ChatBot App</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Personal finance app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Health and wellness apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">News app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Travel apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Entertainment apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Recipe app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Personal shopping app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Mental health apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Education apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Transport app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Job Search Apps</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Fitness app</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Event planning app</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-content-col">
        <h2>Web Development Solutions</h2>
        <p>Looking to build a robust online presence? Cypherox Technologies offers top-tier web development services and skilled Web Developers who craft scalable, secure, and user-friendly websites tailored to your business needs.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-8 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Front End Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">AngularJS Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">ReactJS Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">VueJS Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Back-End Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">NodeJS Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Express JS Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">PHP Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Python Web Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Full Stack Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Clickfunnels ( MEAN )</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">WordPress Development ( MERN )</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">E-Commerce Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Shopify Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Magento Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">WooCommerce Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">BigCommerce Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">CMS Development Company</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">WordPress Development Services</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Joomla Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Drupal Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Modern Web Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Headless Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Webflow Development</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">ERP and CRM Development</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Hire Dedicated Developers</h2>
        <p>Need someone super cool to make your project awesome? Our developers are like digital superheroes! They mix tech skills with creativity to make exactly what you need</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Hire Chatbot Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Graphic Designers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire UI/UX Designers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Digital Marketers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire DevOps Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire AWS Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire AI Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire ML Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Blockchain Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire AR Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire VR Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Data Analytics</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Metaverse Developers</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Hire Mobile App Developers</h2>
        <p>Looking to elevate your business with a custom mobile application? At Cypherox Technologies, we connect you with top-tier mobile app developers who specialize in delivering scalable, feature-rich solutions tailored to your unique needs.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Hire IOS Developer</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Android Developer</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Swift Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Kotlin Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Flutter Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire React Native Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Golang Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Java Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Dart Developers</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 left-content-col">
        <h2>Hire Web Developers</h2>
        <p>Find skilled web developers at Cypherox Technologies to design and build dynamic, responsive websites tailored to your business needs.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock"></span>
          <span class="btn-text">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-7 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-wrap">
          <li class="service-list-item">
            <a href="" class="service-link">Hire a Front-End Web Developer</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire a Back-End Web Developer</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire AngularJS Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire ReactJS Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire VueJS Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire NodeJS Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Laravel Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Python Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire full Stack Developer</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire PHP Developers</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="service-list-item-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-content-col">
        <h2>Hire E-Commerce Developers</h2>
        <p>Find expert e-commerce developers at Cypherox Technologies to build scalable, feature-rich online stores. Our team specializes in e-commerce development services, ensuring seamless shopping experiences for your customers while driving growth and enhancing user satisfaction.</p>
        <a href="/" class="primary-btn order-3 large-btn">
          <span class="glow"></span>
          <span class="stock red-outline"></span>
          <span class="btn-text white-base">Talk To Our Experts</span>
        </a>
      </div>
      <div class="col-md-4 circle-listing-sec">
        <h3></h3>
        <ul class="cust-service-list d-flex flex-column">
          <li class="service-list-item">
            <a href="" class="service-link">Hire WordPress Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Shopify Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire Magento Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire BigCommerce Developers</a>
          </li>
          <li class="service-list-item">
            <a href="" class="service-link">Hire WooCommerce Developers</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
</section>