<div class="team-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3><span>Lorem Ipsum</span></h3>
          <h4>Our Team</h4>
        </div>
      </div>
    </div>

    <div class="row team-intro">
      <div class="col-md-3 team-col">
        <div class="team-col-inner">
          <div class="member-img">
            <img src="../../assets/img/team-member.webp" alt="Team member 1">
          </div>

          <div class="member-details">
            <div class="member-intro">
              <h3>Devid Smith</h3>
              <p>Lorem ipsum</p>
            </div>

            <div class="icon-sec">
              <a href="javascript:;" aria-label="Go to linkedin profile">
                <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 28 27" style="enable-background:new 0 0 28 27;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:none;stroke:#F26E65;}
                </style>
                <path class="st0" d="M7.8,3.8L7.8,3.8c0,0.9-0.4,1.7-1,2.3C6.1,6.7,5.2,7.1,4.1,7.1h0 M7.8,3.8L7.8,3.8 M7.8,3.8L7.8,3.8 M7.8,3.8
                  c0-0.9-0.4-1.7-1-2.3C6.1,0.8,5.2,0.5,4.2,0.5h0 M4.2,0.5c-1.1,0-2,0.3-2.6,0.9c-0.7,0.6-1,1.4-1,2.4c0,1.9,1.5,3.3,3.6,3.3h0
                  M4.1,7.1L4.1,7.1L4.1,7.1z M6.9,26.5h0.5V26V9.8V9.3H6.9H1.3H0.8v0.5V26v0.5h0.5L6.9,26.5z M9.5,26l0,0.5H10h5.6h0.5V26v-9
                  c0-0.5,0-0.9,0.1-1.1l0,0l0,0c0.4-0.8,1.1-1.7,2.4-1.7c0.9,0,1.4,0.3,1.8,0.8c0.4,0.5,0.6,1.3,0.6,2.4V26v0.5h0.5H27h0.5V26v-9.3
                  c0-2.6-0.7-4.5-2-5.9c-1.3-1.3-3-1.9-4.9-1.9c-1.6,0-2.8,0.4-3.7,1c-0.3,0.2-0.6,0.5-0.9,0.7V9.8V9.3h-0.5H10H9.5l0,0.5
                  c0,0.7,0,4.8,0,8.6c0,1.9,0,3.8,0,5.2c0,0.7,0,1.3,0,1.7l0,0.5L9.5,26L9.5,26L9.5,26L9.5,26L9.5,26c0,0,0,0,0.5,0L9.5,26z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 team-col">
        <div class="team-col-inner">
          <div class="member-img">
            <img src="../../assets/img/team-member.webp" alt="Team member 2">
          </div>

          <div class="member-details">
            <div class="member-intro">
              <h3>Devid Smith</h3>
              <p>Lorem ipsum</p>
            </div>

            <div class="icon-sec">
              <a href="javascript:;" aria-label="Go to linkedin profile">
                <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 28 27" style="enable-background:new 0 0 28 27;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:none;stroke:#F26E65;}
                </style>
                <path class="st0" d="M7.8,3.8L7.8,3.8c0,0.9-0.4,1.7-1,2.3C6.1,6.7,5.2,7.1,4.1,7.1h0 M7.8,3.8L7.8,3.8 M7.8,3.8L7.8,3.8 M7.8,3.8
                  c0-0.9-0.4-1.7-1-2.3C6.1,0.8,5.2,0.5,4.2,0.5h0 M4.2,0.5c-1.1,0-2,0.3-2.6,0.9c-0.7,0.6-1,1.4-1,2.4c0,1.9,1.5,3.3,3.6,3.3h0
                  M4.1,7.1L4.1,7.1L4.1,7.1z M6.9,26.5h0.5V26V9.8V9.3H6.9H1.3H0.8v0.5V26v0.5h0.5L6.9,26.5z M9.5,26l0,0.5H10h5.6h0.5V26v-9
                  c0-0.5,0-0.9,0.1-1.1l0,0l0,0c0.4-0.8,1.1-1.7,2.4-1.7c0.9,0,1.4,0.3,1.8,0.8c0.4,0.5,0.6,1.3,0.6,2.4V26v0.5h0.5H27h0.5V26v-9.3
                  c0-2.6-0.7-4.5-2-5.9c-1.3-1.3-3-1.9-4.9-1.9c-1.6,0-2.8,0.4-3.7,1c-0.3,0.2-0.6,0.5-0.9,0.7V9.8V9.3h-0.5H10H9.5l0,0.5
                  c0,0.7,0,4.8,0,8.6c0,1.9,0,3.8,0,5.2c0,0.7,0,1.3,0,1.7l0,0.5L9.5,26L9.5,26L9.5,26L9.5,26L9.5,26c0,0,0,0,0.5,0L9.5,26z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 team-col">
        <div class="team-col-inner">
          <div class="member-img">
            <img src="../../assets/img/team-member.webp" alt="Team member 3">
          </div>

          <div class="member-details">
            <div class="member-intro">
              <h3>Devid Smith</h3>
              <p>Lorem ipsum</p>
            </div>

            <div class="icon-sec">
              <a href="javascript:;" aria-label="Go to linkedin profile">
                <svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 28 27" style="enable-background:new 0 0 28 27;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:none;stroke:#F26E65;}
                </style>
                <path class="st0" d="M7.8,3.8L7.8,3.8c0,0.9-0.4,1.7-1,2.3C6.1,6.7,5.2,7.1,4.1,7.1h0 M7.8,3.8L7.8,3.8 M7.8,3.8L7.8,3.8 M7.8,3.8
                  c0-0.9-0.4-1.7-1-2.3C6.1,0.8,5.2,0.5,4.2,0.5h0 M4.2,0.5c-1.1,0-2,0.3-2.6,0.9c-0.7,0.6-1,1.4-1,2.4c0,1.9,1.5,3.3,3.6,3.3h0
                  M4.1,7.1L4.1,7.1L4.1,7.1z M6.9,26.5h0.5V26V9.8V9.3H6.9H1.3H0.8v0.5V26v0.5h0.5L6.9,26.5z M9.5,26l0,0.5H10h5.6h0.5V26v-9
                  c0-0.5,0-0.9,0.1-1.1l0,0l0,0c0.4-0.8,1.1-1.7,2.4-1.7c0.9,0,1.4,0.3,1.8,0.8c0.4,0.5,0.6,1.3,0.6,2.4V26v0.5h0.5H27h0.5V26v-9.3
                  c0-2.6-0.7-4.5-2-5.9c-1.3-1.3-3-1.9-4.9-1.9c-1.6,0-2.8,0.4-3.7,1c-0.3,0.2-0.6,0.5-0.9,0.7V9.8V9.3h-0.5H10H9.5l0,0.5
                  c0,0.7,0,4.8,0,8.6c0,1.9,0,3.8,0,5.2c0,0.7,0,1.3,0,1.7l0,0.5L9.5,26L9.5,26L9.5,26L9.5,26L9.5,26c0,0,0,0,0.5,0L9.5,26z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 team-col">
        <div class="team-col-inner">
          <div class="member-img">
            <img src="../../assets/img/team-member.webp" alt="Team member 4">
          </div>

          <div class="member-details">
            <div class="member-intro">
              <h3>Devid Smith</h3>
              <p>Lorem ipsum</p>
            </div>

            <div class="icon-sec">
              <a href="javascript:;" aria-label="Go to linkedin profile">
                <svg version="1.1" id="Layer_61" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 28 27" style="enable-background:new 0 0 28 27;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:none;stroke:#F26E65;}
                </style>
                <path class="st0" d="M7.8,3.8L7.8,3.8c0,0.9-0.4,1.7-1,2.3C6.1,6.7,5.2,7.1,4.1,7.1h0 M7.8,3.8L7.8,3.8 M7.8,3.8L7.8,3.8 M7.8,3.8
                  c0-0.9-0.4-1.7-1-2.3C6.1,0.8,5.2,0.5,4.2,0.5h0 M4.2,0.5c-1.1,0-2,0.3-2.6,0.9c-0.7,0.6-1,1.4-1,2.4c0,1.9,1.5,3.3,3.6,3.3h0
                  M4.1,7.1L4.1,7.1L4.1,7.1z M6.9,26.5h0.5V26V9.8V9.3H6.9H1.3H0.8v0.5V26v0.5h0.5L6.9,26.5z M9.5,26l0,0.5H10h5.6h0.5V26v-9
                  c0-0.5,0-0.9,0.1-1.1l0,0l0,0c0.4-0.8,1.1-1.7,2.4-1.7c0.9,0,1.4,0.3,1.8,0.8c0.4,0.5,0.6,1.3,0.6,2.4V26v0.5h0.5H27h0.5V26v-9.3
                  c0-2.6-0.7-4.5-2-5.9c-1.3-1.3-3-1.9-4.9-1.9c-1.6,0-2.8,0.4-3.7,1c-0.3,0.2-0.6,0.5-0.9,0.7V9.8V9.3h-0.5H10H9.5l0,0.5
                  c0,0.7,0,4.8,0,8.6c0,1.9,0,3.8,0,5.2c0,0.7,0,1.3,0,1.7l0,0.5L9.5,26L9.5,26L9.5,26L9.5,26L9.5,26c0,0,0,0,0.5,0L9.5,26z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row button-row">
      <div class="col-full">
        <a href="javascript:;" class="primary-btn" aria-label="Go to all team page">
            <span class="glow"></span>
            <span class="stock"></span>
            <span class="btn-text">View All Team</span>
        </a>
      </div>
    </div>

  </div>
</div>