<section class="section_integration my_section_main">  
  
  <div class="row">
    <div class="col-full">
      <div class="heading-main-sec">
        <h3><span>Technologies</span></h3>
        <h4>The Cutting-Edge <span>Technologies We Work With</span></h4>
      </div>
    </div>
  </div>
  
  <div class="fade-in">
     <div class="cutting_icons">
        <div class="mask-rect hide"></div>
        <div class="mask-rect-right hide"></div>
        <div class="integration_animation-embed"></div>
        <div class="cutting-edge">
           <div class="cutting-edge-line-left cutting-wrap-1">
              <img src="../../assets/img/left-topline-1.svg"  alt="Left Top Line" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-1">
                 <img src="../../assets/img/php.svg" alt="PHP" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-tool-icon-wrap cutting-wrap-2"><img src="" alt="" class="cutting-tool-icon cutting-tool-icon-left back"><img src="../../assets/img/codeigniter-1.svg" alt="Code Igniter 1" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-line-embed w-embed">
                 <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 608 201" fill="none">
                    <path d="M-36.4648 1H345.112C369.603 1 393.243 9.98788 411.548 26.2591L606.465 199.519" stroke="#F26E65" mask="url(#gradient-mask-line-1)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-1" x1="673.145" y1="156.008" x2="-54.4596" y2="145.53" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-1">
                          <rect class="mask-rect" x="0" y="0" width="100%" height="100%" fill="url(#line-1)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-left cutting-wrap-2">
              <img src="../../assets/img/cd_left-2.svg" alt="Left Line" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-3"><img src="../../assets/img/kajabi-1.svg" alt="Kajabi" class="cutting-tool-icon left"></div>
              <div class="cutting-tool-icon-wrap cutting-wrap-4"><img src="../../assets/img/shopify-logo-svgrepo-com-1.svg" alt="Shopify 1" class="cutting-tool-icon cutting-tool-icon-left back"><img src="../../assets/img/cdnlogo.com_click-funnels-1.svg" alt="Click Funnels" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 599 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-36.4648 1.85986H368.253C378.118 1.85986 387.928 3.31952 397.366 6.19142L490.563 34.552L597.994 67.2442" stroke="#F26E65" mask="url(#gradient-mask-line-2)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-2" x1="663.795" y1="52.9133" x2="-53.0368" y2="21.9839" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-2">
                          <rect class="mask-rect" x="0" y="0" width="100%" height="100%" fill="url(#line-2)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-left cutting-wrap-3">
              <img src="../../assets/img/bottom-left-3.svg" alt="Bottom Left Line" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-5"><img src="" alt="" class="cutting-tool-icon cutting-tool-icon-left back"><img src="../../assets/img/shopify-logo-svgrepo-com-1.svg" alt="Shopify 2" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 599 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-36.4648 66.6294H368.253C378.118 66.6294 387.928 65.1697 397.366 62.2978L490.563 33.9372L597.994 1.24508" stroke="#F26E65" mask="url(#gradient-mask-line-3)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-3" x1="663.795" y1="15.5759" x2="-53.0368" y2="46.5053" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-3">
                          <rect class="mask-rect" x="0" y="0" width="100%" height="100%" fill="url(#line-3)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-left left-mobile">
              <img src="../../assets/img/mobile line.svg"  alt="Mobile Line" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-5"><img src="" alt="" class="cutting-tool-icon cutting-tool-icon-left back"><img src="../../assets/img/shopify-logo-svgrepo-com-1.svg" alt="Shopify 3" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-line-embed w-embed">
                 <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 130 2" fill="none">
                    <path d="M129.518 1.25903L-16.3552 1.25905" stroke="#F26E65" mask="url(#gradient-mask-line-mobile)"></path>
                    <defs>
                       <linearGradient id="line-mobile" x1="-31.4841" y1="2.03987" x2="84.7375" y2="-73.3454" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-mobile">
                          <rect class="mask-rect" x="0" y="0" width="100%" height="100%" fill="url(#line-mobile)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-left cutting-wrap-4">
              <img src="../../assets/img/left-4.svg"  alt="Left 4" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap _6"><img src="../../assets/img/react-js-icon.svg" alt="React" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-tool-icon-wrap _7"><img src="../../assets/img/hubspot-2.svg" alt="Hubspot 1" class="cutting-tool-icon cutting-tool-icon-left back"><img src="../../assets/img/Kartra-1.svg " alt="Kartra" class="cutting-tool-icon cutting-tool-icon-left"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 608 202" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-36.4648 200.038H345.112C369.603 200.038 393.243 191.05 411.548 174.778L606.465 1.51857" stroke="#F26E65" mask="url(#gradient-mask-line-4)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-4" x1="673.145" y1="45.0297" x2="-54.4596" y2="55.5078" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-4">
                          <rect class="mask-rect" x="0" y="0" width="100%" height="100%" fill="url(#line-4)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-center-logo-wrap">
              <img src="../../assets/img/main-circle.png" alt="Main Circle" class="cutting_outer-circle">
              <div class="cutting_inner-circle"><img src="../../assets/img/inner-circle.png" alt="Inner Circle"></div>
           </div>
           <div class="cutting-edge-line-right cutting-wrap-1">
              <img src="../../assets/img/right-1.svg"  alt="Right 1" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-8"><img src="../../assets/img/hubspot.svg" alt="Hubspot 2" class="cutting-tool-icon cutting-tool-icon-right back"><img src="../../assets/img/hubspot.svg" alt="Hubspot 3" class="cutting-tool-icon cutting-tool-icon-right"></div>
              <div class="cutting-tool-icon-wrap cutting-wrap-9"><img src="../../assets/img/Node.js_logo-1.svg" alt="Node" class="cutting-tool-icon right"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 608 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M644.465 1.00049H262.888C238.397 1.00049 214.757 9.98837 196.452 26.2596L1.53485 199.52" stroke="#F26E65" mask="url(#gradient-mask-line-5)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-5" x1="-65.1452" y1="156.008" x2="662.46" y2="145.53" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-5">
                          <rect class="mask-rect-right" x="0" y="0" width="100%" height="100%" fill="url(#line-5)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-right cutting-wrap-2">
              <img src="../../assets/img/right-2.svg"  alt="Right 2" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-10"><img src="../../assets/img/hubspot-2.svg" alt="Hubspot 4" class="cutting-tool-icon cutting-tool-icon-right back"><img src="../../assets/img/wordpress.svg" alt="Wordpress" class="cutting-tool-icon cutting-tool-icon-right"></div>
              <div class="cutting-tool-icon-wrap cutting-wrap-11"><img src="../../assets/img/hubspot-2.svg" alt="Hubspot 5" class="cutting-tool-icon cutting-tool-icon-right"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 599 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M635.465 1.85986H230.747C220.882 1.85986 211.072 3.31952 201.634 6.19142L108.437 34.552L1.00623 67.2442" stroke="#F26E65" mask="url(#gradient-mask-line-6)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-6" x1="-64.7952" y1="52.9133" x2="652.037" y2="21.9839" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-6">
                          <rect class="mask-rect-right" x="0" y="0" width="100%" height="100%" fill="url(#line-6)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-right cutting-wrap-3">
              <img src="../../assets/img/right-3.svg"  alt="Right 3" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-12"><img src="../../assets/img/codeigniter-1.svg" alt="Code Igniter 2" class="cutting-tool-icon cutting-tool-icon-right back"><img src="../../assets/img/Laravel-1.svg" alt="Laravel" class="cutting-tool-icon cutting-tool-icon-right"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 599 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M635.465 66.6294H230.747C220.882 66.6294 211.072 65.1697 201.634 62.2978L108.437 33.9372L1.00623 1.24508" stroke="#F26E65" mask="url(#gradient-mask-line-7)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-7" x1="-64.7952" y1="15.5759" x2="652.037" y2="46.5053" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-7">
                          <rect class="mask-rect-right" x="0" y="0" width="100%" height="100%" fill="url(#line-7)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
           <div class="cutting-edge-line-right cutting-wrap-4">
              <img src="../../assets/img/right-4.svg"  alt="Right 4" class="cutting-edge-line">
              <div class="cutting-tool-icon-wrap cutting-wrap-13"><img src="../../assets/img/shopify-logo-svgrepo-com-1.svg" alt="Shopify 4" class="cutting-tool-icon cutting-tool-icon-right back"><img src="../../assets/img/angular-icon-1.svg" alt="Angular" class="cutting-tool-icon cutting-tool-icon-right"></div>
              <div class="cutting-tool-icon-wrap cutting-wrap-14"><img src="../../assets/img/squarespace.svg" alt="Squarespace" class="cutting-tool-icon cutting-tool-icon-right"></div>
              <div class="cutting-line-embed w-embed">
                 <svg width="100%" viewBox="0 0 608 202" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M644.465 200.038H262.888C238.397 200.038 214.757 191.05 196.452 174.778L1.53485 1.51857" stroke="#F26E65" mask="url(#gradient-mask-line-8)" stroke-width="2"></path>
                    <defs>
                       <linearGradient id="line-8" x1="-65.1452" y1="45.0297" x2="662.46" y2="55.5078" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                          <stop offset="0.8" stop-color="white" stop-opacity="1"></stop>
                          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                       </linearGradient>
                       <mask id="gradient-mask-line-8">
                          <rect class="mask-rect-right" x="0" y="0" width="100%" height="100%" fill="url(#line-8)"></rect>
                       </mask>
                    </defs>
                 </svg>
              </div>
           </div>
        </div>
     </div>

     <div class="animated-img-sec">
      <img src="../../assets/img/technologies-shap.svg" alt="Technologies">
     </div>
  </div>
</section>