<section class="join-team-sec">
  <div class="join-team-container">
      {% for wrapper in teamWrappers %}
          <div class="join-team-image-wrapper">
            <div class="join-team-title">
              <h3>{{ wrapper.eventName }}</h3>
            </div>
              {% for image in wrapper.images %}
                  <a href="{{ image.teamLink }}" class="join-team-image">
                      <img src="{{ image.teamImg }}" alt="{{ image.teamAlt }}">
                  </a>
              {% endfor %}

              <div class="join-team-link">
                <a href="{{ wrapper.joinLink }}" aria-label="{{ wrapper.joinAria }}">{{ wrapper.joinText }}</a>
              </div>
              
          </div>
      {% endfor %}
  </div>
</section>
