<section class="purpose-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3><span>{{purposeSecSubTitle}}</span></h3>
          <h4>{{purpoesSecTitle}}</h4>
        </div>
      </div>
    </div>
    <div class="row cust-row">
      {% for item in purposeList %}
          <div class="col-md-4 cust-col">
            <img src="../../../assets/img/x-cust-shape.webp" alt="cust-x-shape">
            <h4 class="cust-inner-title text-white">{{ item.purposeTitle }}</h4>
            <p class="cust-desc m-0 text-center">{{ item.purposeDesc }}</p>
          </div>
      {% endfor %}
    </div>
  </div>
</section>