<section class="your-passion">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="heading-main-sec">
              <h3><span>{{ yourPassionSubTitle }}</span></h3>
              <h4>{{ yourPassionTitle }}</h4>
          </div>
      </div>
      <div class="col-md-6">
        <div class="heading-main-sec">
            <p class="text-white">{{ yourPassionDesc }}</p>
        </div>
      </div>
    </div>
    <div class="imgaes-row gif-wrapper">
      <img src="../../../assets/img/passion_1.webp" alt="passion-1" class="gif-animation">
      <img src="../../../assets/img/passion_2.webp" alt="passion-2" class="gif-animation">
      <img src="../../../assets/img/passion_3.webp" alt="passion-3" class="gif-animation">
      <img src="../../../assets/img/passion_4.webp" alt="passion-4" class="gif-animation">
    </div>
    <div class="row m-0 align-items-start cust-img-effect">
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Collaborate with Experts</p>
          </div>
          <img src="../../../assets/img/passion_1.webp" alt="passion-1" class="mobile-img">
        </div>
      </div>
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Stimulating Work Environment</p>
          </div>
          <img src="../../../assets/img/passion_2.webp" alt="passion-2" class="mobile-img">
        </div>
      </div>
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Balance of Passion and Fun</p>
          </div>
          <img src="../../../assets/img/passion_3.webp" alt="passion-3" class="mobile-img">
        </div>
      </div>
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Opportunities for Growth and Development</p>
          </div>
          <img src="../../../assets/img/passion_4.webp" alt="passion-4" class="mobile-img">
        </div>
      </div>
    </div>
  </div>
</section>