<section class="your-passion">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="heading-main-sec">
              <h3><span>{{ yourPassionSubTitle }}</span></h3>
              <h4>{{ yourPassionTitle }}</h4>
          </div>
      </div>
      <div class="col-md-6">
        <div class="heading-main-sec">
            <p class="text-white">{{ yourPassionDesc }}</p>
        </div>
      </div>
    </div>
    <div class="imgaes-row gif-wrapper">
      <img src="../../../assets/img/gif-1.gif" alt="gif-img" class="gif-animation">
      <img src="../../../assets/img/gif-2.gif" alt="gif-img" class="gif-animation">
      <img src="../../../assets/img/gif-3.gif" alt="gif-img" class="gif-animation">
      <img src="../../../assets/img/gif-4.gif" alt="gif-img" class="gif-animation">
    </div>
    <div class="row m-0 align-items-start cust-img-effect">
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Aenean eget sagittis metus. Sed  consequat</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Aenean eget sagittis metus. Sed  consequat</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Aenean eget sagittis metus. Sed  consequat</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 gif-col-wrapper p-0">
        <div class="box-wrapper">
          <div class="line"></div>
          <div class="info">
            <span class="latter">a</span>
            <p>Aenean eget sagittis metus. Sed  consequat</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>