<section class="development-service">
  <div class="container">
    <div class="heading-main-sec">
      <h3>{{ secTitle }}</h3>
      <h4>{{ secSubTitle }}</h4>
    </div>
  </div>

  <div class="service-listing">
    <div class="listion-container">
      {% for service in servicesList %}
      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">{{ service.count }}</span>
            <h3>
              <span class="default">{{ service.title }}</span>
              <span class="hover">{{ service.title }}</span>
            </h3>
            <p>{{ service.description }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
