<section class="development-service">
  <div class="container">
    <div class="heading-main-sec">
      <h3>Services</h3>
      <h4>Mobile App Development Services</h4>
    </div>
  </div>

  <div class="service-listing">
    <div class="listion-container">
      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">01.</span>
            <h3>
              <span class="default">iPhone App Development</span>
              <span class="hover">iPhone App Development</span>
            </h3>
            <p>Ever wished for an app that rocks your iPhone? We’ve built 800+ of them! Our super-smart team takes your ideas and turns them into real iPhone wonders. Your app dreams? We’ll make ’em happen!</p>
          </div>
        </a>
      </div>

      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">02.</span>
            <h3>
              <span class="default">iPad App Development</span>
              <span class="hover">iPad App Development</span>
            </h3>
            <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
          </div>
        </a>
      </div>

      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">03.</span>
            <h3>
              <span class="default">Android App Development</span>
              <span class="hover">Android App Development</span>
            </h3>
            <p>Wanna rock the Android world? Our Android app whizzes cook up apps featured in big leagues like TechCrunch and BBC News! Whether it's Java or Kotlin, we speak the language of cool Android apps.</p>
          </div>
        </a>
      </div>

      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">04.</span>
            <h3>
              <span class="default">Cross-platform App Development</span>
              <span class="hover">Cross-platform App Development</span>
            </h3>
            <p>Want an app that speaks both iOS and Android? Our heroes code in React Native and Flutter—giving you that magical native feel on both platforms. It’s like having two awesome apps in one go!</p>
          </div>
        </a>
      </div>

      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">05.</span>
            <h3>
              <span class="default">Hire Dedicated App Developers</span>
              <span class="hover">Hire Dedicated App Developers</span>
            </h3>
            <p>Need a tech genius? Hire our dedicated app heroes! With 1000+ apps like Skyrise and 	WaveTech under their belts, they’ll turn your app dreams into jaw-dropping reality!</p>
          </div>
        </a>
      </div>

      <div class="service-item">
        <a href="javascript:;">
          <div class="service-item-inner">
            <span class="count">06.</span>
            <h3>
              <span class="default">App Development Consulting</span>
              <span class="hover">App Development Consulting</span>
            </h3>
            <p>Building a giant app empire? Our app developers help you plan for success! We'll cook up a strategy that fits your business dreams and guides you to the treasure chest of ROI. Think of us as your app roadmap makers!</p>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>