<section class="ourclient-sec">
  <img src="{{ clientBgImage }}" alt="" class="ourclient-img">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="ourclient-content" bis_skin_checked="1">
          <div class="heading-main-sec" bis_skin_checked="1">
            <h4 class="text-black">{{ clientTitle }}</h4>
          </div>
        </div>
      </div>
      <div class="col-full">
        <div class="overflow-hidden swiper-ourclient">
          <div class="swiper-wrapper ourclient-gallery">

            {% for client in clients %}
            <div class="swiper-slide gallery-items">
              <img src="{{ client.clientLogoImg }}" alt="{{ client.clientLogoalt }}">
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

