<section class="portfolio-main-sec">
    <div class="container">
        <div class="row">
            <div class="col-full">
                <div class="heading-main-sec">
                    <h3>Projects</h3>
                    <h4>Portfolio</h4>
                </div>
            </div>
        </div>

        <div class="portfolio-slider-main">
            <div class="swiper portfolio-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="portfolio-wrapper">
                            <div class="image-sec">
                                <img src="../../../assets/img/portfolio-1.webp">
                            </div>

                            <div class="content-sec">
                                <div class="top-content">
                                    <h3>Year</h3>
                                    <h4>2023</h4>
                                    <h5>Role</h5>
                                    <p>Mobile App Development</p>
                                </div>

                                <div class="bottom-content">
                                    <h3>Description</h3>
                                    <p>SkyRise is a revolutionary app designed to redefine urban living. It's your
                                        ultimate companion, offering seamless access to building amenities,
                                        community updates, and exclusive events. From booking facilities to
                                        connecting with neighbors, SkyRise brings convenience and community together
                                        in the palm of your hand. Experience city living at its finest with SkyRise.
                                    </p>

                                    <a href="javascript:;" class="primary-btn">
                                        <span class="glow"></span>
                                        <span class="stock"></span>
                                        <span class="btn-text">All Projects</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-wrapper">
                            <div class="image-sec">
                                <img src="../../../assets/img/portfolio-1.webp">
                            </div>

                            <div class="content-sec">
                                <div class="top-content">
                                    <h3>Year</h3>
                                    <h4>2023</h4>
                                    <h5>Role</h5>
                                    <p>Mobile App Development</p>
                                </div>

                                <div class="bottom-content">
                                    <h3>Description</h3>
                                    <p>SkyRise is a revolutionary app designed to redefine urban living. It's your
                                        ultimate companion, offering seamless access to building amenities,
                                        community updates, and exclusive events. From booking facilities to
                                        connecting with neighbors, SkyRise brings convenience and community together
                                        in the palm of your hand. Experience city living at its finest with SkyRise.
                                    </p>

                                    <a href="javascript:;" class="primary-btn">
                                        <span class="glow"></span>
                                        <span class="stock"></span>
                                        <span class="btn-text">All Projects</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-wrapper">
                            <div class="image-sec">
                                <img src="../../../assets/img/portfolio-1.webp">
                            </div>

                            <div class="content-sec">
                                <div class="top-content">
                                    <h3>Year</h3>
                                    <h4>2023</h4>
                                    <h5>Role</h5>
                                    <p>Mobile App Development</p>
                                </div>

                                <div class="bottom-content">
                                    <h3>Description</h3>
                                    <p>SkyRise is a revolutionary app designed to redefine urban living. It's your
                                        ultimate companion, offering seamless access to building amenities,
                                        community updates, and exclusive events. From booking facilities to
                                        connecting with neighbors, SkyRise brings convenience and community together
                                        in the palm of your hand. Experience city living at its finest with SkyRise.
                                    </p>

                                    <a href="javascript:;" class="primary-btn">
                                        <span class="glow"></span>
                                        <span class="stock"></span>
                                        <span class="btn-text">All Projects</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div thumbsSlider="" class="swiper portfolio-thumb">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="thumb-image">
                            <div class="thumb-img-inner">
                                <img src="../../../assets/img/portfolio-1.webp">
                            </div>
                        </div>

                        <div class="main-title">
                            <h3>Skyrise</h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="thumb-image">
                            <div class="thumb-img-inner">
                                <img src="../../../assets/img/portfolio-1.webp">
                            </div>
                        </div>

                        <div class="main-title">
                            <h3>Skyrise</h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="thumb-image">
                            <div class="thumb-img-inner">
                                <img src="../../../assets/img/portfolio-1.webp">
                            </div>
                        </div>

                        <div class="main-title">
                            <h3>Skyrise</h3>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>