<section class="technology-stack-sec bg-white">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3>Lorem ipsum</h3>
          <h4 class="text-black">App Development Technology Stack</h4>
          <p>We’ve got a variety of tools and languages that help us create awesome digital stuff. Here’s
            what we use:</p>
        </div>
      </div>
    </div>
    <div class="tab-sec">
      <div class="tab-sec-inner">
        <div class="tab-button-col">
          <div class="buttons">
            <div class="tab-buttons active" data-tab="tab1">
              <a href="javascriopt:;" class="button-inner">
                <span class="count">01.</span>
                <span>Languages We Speak</span>
              </a>
            </div>

            <div class="tab-buttons" data-tab="tab2">
              <a href="javascriopt:;" class="button-inner">
                <span class="count">02.</span>
                <span>Building Blocks</span>
              </a>
            </div>

            <div class="tab-buttons" data-tab="tab3">
              <a href="javascriopt:;" class="button-inner">
                <span class="count">03.</span>
                <span>Behind the Scenes</span>
              </a>
            </div>

            <div class="tab-buttons" data-tab="tab4">
              <a href="javascriopt:;" class="button-inner">
                <span class="count">04.</span>
                <span>Testing and Keeping Watch</span>
              </a>
            </div>

            <div class="tab-buttons" data-tab="tab5">
              <a href="javascriopt:;" class="button-inner">
                <span class="count">05.</span>
                <span>Tools for Making It Happen</span>
              </a>
            </div>

            <div class="tab-buttons" data-tab="tab6">
              <a href="javascriopt:;" class="button-inner">
                <span class="count">06.</span>
                <span>Designing and Teamwork</span>
              </a>
            </div>

          </div>
        </div>

        <div class="tab-content-col">
          <div class="tab-contents active" id="tab1">
            <div class="content-inner">
              <div class="image-sec">
                <img src="../../../assets/img/technology-stack-1.webp">
              </div>
              <div class="content-sec">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Swift & Objective–C: For making cool things for iPhones and Macs.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Java & Kotlin: Crafting strong apps for Android and other platforms.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>C#: Handy for making apps for Windows and more.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>HTML5/CSS & JavaScript: Basics for making things look great and work well.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-contents" id="tab2">
            <div class="content-inner">
              <div class="image-sec">
                <img src="../../../assets/img/technology-stack-2.webp">
              </div>
              <div class="content-sec">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Swift & Objective–C: For making cool things for iPhones and Macs.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Java & Kotlin: Crafting strong apps for Android and other platforms.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>C#: Handy for making apps for Windows and more.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>HTML5/CSS & JavaScript: Basics for making things look great and work well.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-contents" id="tab3">
            <div class="content-inner">
              <div class="image-sec">
                <img src="../../../assets/img/technology-stack-3.webp">
              </div>
              <div class="content-sec">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Swift & Objective–C: For making cool things for iPhones and Macs.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Java & Kotlin: Crafting strong apps for Android and other platforms.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>C#: Handy for making apps for Windows and more.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>HTML5/CSS & JavaScript: Basics for making things look great and work well.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-contents" id="tab4">
            <div class="content-inner">
              <div class="image-sec">
                <img src="../../../assets/img/technology-stack-1.webp">
              </div>
              <div class="content-sec">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Swift & Objective–C: For making cool things for iPhones and Macs.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Java & Kotlin: Crafting strong apps for Android and other platforms.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>C#: Handy for making apps for Windows and more.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>HTML5/CSS & JavaScript: Basics for making things look great and work well.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-contents" id="tab5">
            <div class="content-inner">
              <div class="image-sec">
                <img src="../../../assets/img/technology-stack-2.webp">
              </div>
              <div class="content-sec">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Swift & Objective–C: For making cool things for iPhones and Macs.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Java & Kotlin: Crafting strong apps for Android and other platforms.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>C#: Handy for making apps for Windows and more.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>HTML5/CSS & JavaScript: Basics for making things look great and work well.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-contents" id="tab6">
            <div class="content-inner">
              <div class="image-sec">
                <img src="../../../assets/img/technology-stack-3.webp">
              </div>
              <div class="content-sec">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Swift & Objective–C: For making cool things for iPhones and Macs.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>Java & Kotlin: Crafting strong apps for Android and other platforms.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>C#: Handy for making apps for Windows and more.</span>
                  </li>

                  <li>
                    <div class="icon">
                      <img src="../../../assets/img/right-arrow.svg">
                    </div>
                    <span>HTML5/CSS & JavaScript: Basics for making things look great and work well.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="animated-img-sec">
      <img src="../../../assets/img/technologies-shap.svg" alt="Technologies">
     </div>
  </div>
</section>