<section class="convert-website">
  <div class="container">
    <div class="row">
      <div class="col-md-7 relative">
        <div class="image-sec">
          <img src="../../../assets/img/convert-desktop.webp" alt="Desktop">
        </div>
        <div class="convert-text">
          <p class="text-inner">Converted to</p>
          <svg width="86" height="130" viewBox="0 0 86 130" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1130_4550)">
            <path d="M77.9146 115.744C65.9976 74.6811 30.268 78.2598 16.5833 101.09C2.89862 123.921 40.8629 160.809 54.3644 76.9897C67.8659 -6.8298 23.9896 -4.50251 0.363823 7.13857" stroke="#F26E65" stroke-width="2"/>
            <path d="M84.9638 114.955C84.9731 121.297 82.6225 131.357 73.1467 120.859" stroke="#F26E65" stroke-width="2"/>
            </g>
            <defs>
            <clipPath id="clip0_1130_4550">
            <rect width="86" height="130" fill="white" transform="matrix(-1 0 0 1 86 0)"/>
            </clipPath>
            </defs>
            </svg>
            
        </div>
      </div>

      <div class="col-md-5">
      <div class="mobile-image-sec">
          <img src="../../../assets/img/mobile-version-img.webp" alt="mobile">
      </div>
    </div>
    <div class="row cust-convert-row">
      <div class="col-md-4 cust-convert-col">
        <img src="../../../assets/img/app-svg.svg" alt="app icon">
        <h4>Convert your website into app</h4>
        <a href="/convert-website-into-app.html" class="goto-icon">
          <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7998 22.2002L21.2248 7.77522" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M10.3999 6.59993L22.3999 6.59993L22.3999 18.6001" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
    
        </a>
      </div>
      <div class="col-md-4 cust-convert-col">
        <img src="../../../assets/img/android-svg.svg" alt="android icon">
        <h4>Convert your website to android app</h4>
        <a href="/convert-your-website-to-android-app.html" class="goto-icon">
          <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7998 22.2002L21.2248 7.77522" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M10.3999 6.59993L22.3999 6.59993L22.3999 18.6001" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
    
        </a>
      </div>
      <div class="col-md-4 cust-convert-col">
        <img src="../../../assets/img/app-svg.svg" alt="app icon">
        <h4>Convert your website to ios app</h4>
        <a href="/convert-your-website-into-ios-app.html" class="goto-icon">
          <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7998 22.2002L21.2248 7.77522" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M10.3999 6.59993L22.3999 6.59993L22.3999 18.6001" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
    
        </a>
      </div>
    </div>
  </div>
</section>