<section class="convert-website">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="image-sec">
          <img src="../../../assets/img/convert-desktop.webp" alt="Desktop">
        </div>
      </div>

      <div class="col-md-5"></div>

    </div>
  </div>
</section>