<section class="goMobileConvert-sec">
    <div class="container">
        <div class="row">
            <div class="col-full">
                <div class="heading-main-sec" bis_skin_checked="1">
                    <h3><span>Services</span></h3>
                    <h4>Go Mobile: <br> Convert Your Website to Apps!</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 android-left">
                <div class="android-img">
                    <img src="../../../assets/img/android.webp" alt="android" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6  android-content">
                <div>
                    <h3>Android</h3>
                    <p>Turn your website into a cool Android app! Our team of Android experts is ready to transform your CMS or
                        online store into an app. Chat with our Android app specialist for free. Let's make your website
                        mobile-friendly!</p>
                    <div class="button-sec">
                        <a href="javascript:;" class="btn btn-primary rounded-pill">
                            <span>Get a Quote</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6  android-content">
                <div>
                    <h3>iPhone</h3>
                    <p>Let's bring your website to iPhones! Whether your site is simple or fancy, our iOS expert is excited to create an awesome iPhone app for you. Share your ideas, and together, we'll turn your website into a slick iOS app. Connect with our iOS app expert now!</p>
                    <div class="button-sec">
                        <a href="javascript:;" class="btn btn-primary rounded-pill">
                            <span>Get a Quote</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 iPhone-right">
                <div class="android-img">
                    <img src="../../../assets/img/iPhone.webp" alt="iPhone" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>