{% extends "base.njk"%}

{% block content %}

{% include "layouts/globleSection/globleBanner.njk" %}
{% include "layouts/mobile-app-development/ourClients.njk" %}
{% include "layouts/globleSection/appDevelopment.njk" %}
{% include "layouts/mobile-app-development/appService.njk" %}
{% include "layouts/mobile-app-development/portfolio.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App-info.njk" %}
{% include "layouts/on-demand-app-development/Phases-on-Demands-App.njk" %}
{% include "layouts/mobile-app-development/technology-stack.njk" %}
{% include "layouts/globleSection/awsomeFeatures.njk" %}
{% include "layouts/globleSection/industriesSection.njk" %}
{% include "layouts/mobile-app-development/process.njk" %}
{% include "layouts/globleSection/FAQ.njk" %}
{% include "layouts/globleSection/ReviewClient.njk" %}
{% include "layouts/globleSection/LetsTalk.njk" %}
{% include "layouts/lineAnimation.njk" %}

{% endblock %}