<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 md-md-4">
                <div class="footer-log">
                    <img src="assets/img/logo-demo.svg" alt="logo imgage" class="img-fluid">
                    <div class="btn-wrapper mt-4">
                        <a href="#" class="btn btn-outline-secondary me-2">Login</a>
                        <a href="#" class="btn btn-primary">Book a Demo</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8 d-flex justify-content-between nav-outer">
                <div class="footer-nav-wrapper">
                    <h4>product</h4>
                    <ul>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Business Development</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Customer Success & Training</a></li>
                    </ul>
                </div>
                <div class="footer-nav-wrapper">
                    <h4>Use cases</h4>
                    <ul>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Careers <span>We’re hiring!</span></a></li>
                    </ul>
                </div>
                <div class="footer-nav-wrapper">
                    <h4>resources</h4>
                    <ul>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">GDPR Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>