<header class="header">
    <div class="container-fluid">
        <div class="brand-logo">
            <a href="/"><img src="/assets/img/logo.svg" alt="logo"></a>
        </div>
    </div>
  </header>