<section class="about-realtime-journey-sec">
    <img src="../../assets/img/dots-bg.png" alt="dots-bg-img" class="cust-bg">
    <div class="container">
        <div class="row" bis_skin_checked="1">
            <div class="col-md-6 image-masking">
                <div class="image-masking-inner">
                    <img src="../../../assets/img/about-mask.jpg" alt="masking" class=img-fluid>
                </div>
            </div>
            <div class="col-md-6 content-col">
                <div class="about-realtime-content" bis_skin_checked="1">
                    <div class="heading-main-sec" bis_skin_checked="1">
                      <h3><span>About Us</span></h3>
                      <h4>Get To Know Our
                        Real-Time Journey</h4>
                    <p>Cypherox Technologies is a website development company based in Ahmedabad that specializes in building a substantial online presence by providing various IT services. Whether you are looking for Web Development, E-commerce Development, Custom Mobile App Development, Search Engine Optimization (SEO), Digital Marketing or Chatbot Development for websites and mobile applications; our tech-savvy team will be glad to transform your aspiration into reality.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
