<section class="aswesome-sec">
    <div class="col-full" bis_skin_checked="1">
        <div class="heading-main-sec" bis_skin_checked="1">
            <h3><span>{{ aswesomeSubTitle }}</span></h3>
            <h4>{{ aswesomeTitle }}</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-4 {{ item.extraClass }}">
                    <div class="unique-items-block {{ item.bgClass }}">
                        <div class="unique-cx">
                            <img src="{{ item.icon | safe }}" alt="">
                        </div>
                        <div class="unique-item-text">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</section>