<section class="development-service">
  <div class="container">
    <div class="heading-main-sec">
      <h3>Services</h3>
      <h4>Mobile App Development Services</h4>
    </div>
  </div>
  
  <div class="service-listing">
    <div class="listion-container">
      <div class="service-item">
        <div class="service-item-inner">
          <span class="count">01.</span>
          <h3>
            <span class="default">iPhone App Development</span>
            <span class="hover">iPhone App Development</span>
          </h3>
          <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
        </div>
      </div>
      
      <div class="service-item">
        <div class="service-item-inner">
          <span class="count">02.</span>
          <h3>
            <span class="default">iPad App Development</span>
            <span class="hover">iPad App Development</span>
          </h3>
          <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
        </div>
      </div>
      
      <div class="service-item">
        <div class="service-item-inner">
          <span class="count">03.</span>
          <h3>
            <span class="default">Android App Development</span>
            <span class="hover">Android App Development</span>
          </h3>
          <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
        </div>
      </div>
      
      <div class="service-item">
        <div class="service-item-inner">
          <span class="count">04.</span>
          <h3>
            <span class="default">Cross-platform App Development</span>
            <span class="hover">Cross-platform App Development</span>
          </h3>
          <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
        </div>
      </div>
      
      <div class="service-item">
        <div class="service-item-inner">
          <span class="count">05.</span>
          <h3>
            <span class="default">Hire Dedicated App Developers</span>
            <span class="hover">Hire Dedicated App Developers</span>
          </h3>
          <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
        </div>
      </div>
      
      <div class="service-item">
        <div class="service-item-inner">
          <span class="count">06.</span>
          <h3>
            <span class="default">App Development Consulting</span>
            <span class="hover">App Development Consulting</span>
          </h3>
          <p>Picture this: iPad apps that add magic to your business! Our geniuses in iPad app development create apps that make your users' lives awesome. We're all about turning ideas into incredible iPad reality!</p>
        </div>
      </div>
    </div>
    
  </div>
</section>