<div class="features-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3><span>Awesome Features</span></h3>
          <h4>Why Pick Us?</h4>
        </div>
      </div>
    </div>
    <div class="row cust-row">
      <div class="cust-column">
        <div class="col-md-4">
          <h4 class="cust-inner-title text-white">We Get It Right</h4>
          <p>We work hand-in-hand with you, ensuring every project shines bright and leaves you happy.</p>
        </div>
        <div class="col-md-4">
          <h4 class="cust-inner-title text-white">Your Own Special Code</h4>
          <p>Every project is unique. We make sure your app is special, easy to grow, and stays awesome.</p>
        </div>
      </div>
      <div class="cust-column">
        <div class="col-md-4">
          <h4 class="cust-inner-title text-white">Loads of Apps Done</h4>
          <p>We’ve made over 1000 apps! Think cool stuff like fancy cameras and slick payment systems.</p>
        </div>
        <div class="col-md-4">
          <h4 class="cust-inner-title text-white">You Always Know</h4>
          <p>We keep you in the loop with updates, show you new stuff, fix bugs, and stick around after launch.</p>
        </div>
      </div>
      <div class="cust-column">
       <div class="col-md-4">
        <h4 class="cust-inner-title text-white">Big Team of App Wizards</h4>
        <p>We’ve got 60+ experts making apps that rock. They use cool tricks to make your app amazing.</p>
      </div>
      <div class="col-md-4">
        <h4 class="cust-inner-title text-white">We're Here for You</h4>
        <p>Even after launch, our team keeps your app running smooth and up-to-date.</p>
      </div>
      </div>
    </div>
  </div>
</div>