<div class="Process-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="heading-main-sec">
          <h3 class="text-center"><span>{{processSubtitle}}</span></h3>
          <h4 class="cust-center-text text-center">{{processTitle}}</h4>
          <img src="" alt="">
        </div>
      </div>
    </div>
    </div>
    <div class="custom-scroll">
    <section class="animated-section">
      <div class="animated-box-main">
        {% for step in processBoxList %}
        <div class="item">
          <span class="rule-number">{{ step.stepSubTitle }}</span>
          <h2>{{ step.stepTitle }}</h2>
          <p>{{ step.stepDescription }}</p>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
  </div>
</div>