<!-- app-ideas-sec sec start  -->
<section class="app-ideas-sec overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="heading-main-sec">
                    <h3>Squad</h3>
                    <h4 class="text-left">How We Supercharge Your App Ideas</h4>
                </div>
            </div>
            <div class="col-md-7 content-col">
                <div class="row gap">
                    <div class="content-main">
                        <div class="app-ideas-content">
                            <div class="content-img">
                                <img src="../../../assets/img/right-arrow.svg" alt="">
                            </div>
                            <div class="content-heading">
                                <h3>Making Awesome Native Apps</h3>
                                <p>We focus on making secure, cool native apps and help plan how to turn your idea into a successful one.<p>
                            </div>
                        </div>
                    </div>
                    <div class="content-main">
                        <div class="app-ideas-content">
                            <div class="content-img">
                                <img src="../../../assets/img/right-arrow.svg" alt="">
                            </div>
                            <div class="content-heading">
                                <h3>Apps for Any Platform</h3>
                                <p>We're experts in making apps that work well on different devices. Let's figure out a plan for your unique app together.<p>
                            </div>
                        </div>
                    </div>
                    <div class="content-main">
                        <div class="app-ideas-content">
                            <div class="content-img">
                                <img src="../../../assets/img/right-arrow.svg" alt="">
                            </div>
                            <div class="content-heading">
                                <h3>Big Solutions for Big Businesses</h3>
                                <p>We sort out big chunks of data and create apps that fit your business perfectly. Our experience helps us build apps that work great for businesses.<p>
                            </div>
                        </div>
                    </div>
                    <div class="content-main">
                        <div class="app-ideas-content">
                            <div class="content-img">
                                <img src="../../../assets/img/right-arrow.svg" alt="">
                            </div>
                            <div class="content-heading">
                                <h3>Upgrading Old Apps</h3>
                                <p>Got old apps that need a makeover? We make them new and better so they work smoother and look nicer for your users.<p>
                            </div>
                        </div>
                    </div>
                    <div class="content-main">
                        <div class="app-ideas-content">
                            <div class="content-img">
                                <img src="../../../assets/img/right-arrow.svg" alt="">
                            </div>
                            <div class="content-heading">
                                <h3>Help with App Porting</h3>
                                <p> Need your app on different devices? We'll guide you on how to do that without losing any cool stuff from your app.<p>
                            </div>
                        </div>
                    </div>
                    <div class="content-main">
                        <div class="app-ideas-content">
                            <div class="content-img">
                                <img src="../../../assets/img/right-arrow.svg" alt="">
                            </div>
                            <div class="content-heading">
                                <h3>Awesome Design for Happy Users</h3>
                                <p> We focus on making your app look and feel great for users. We study your customers to make sure they love using your app.<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-ideas-shap">
        <svg width="1920" height="492" viewBox="0 0 1920 492" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5" filter="url(#filter0_f_1064_324)">
            <path d="M-175 284C-175 284 499.558 603.091 960 603.091C1420.44 603.091 2095 284 2095 284V960H-175V284Z" fill="#F26E65"/>
            </g>
            <defs>
            <filter id="filter0_f_1064_324" x="-459" y="0" width="2838" height="1244" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="142" result="effect1_foregroundBlur_1064_324"/>
            </filter>
            </defs>
            </svg>
            
    </div>
</section>
<!-- app-ideas-sec sec end  -->
