<section class="phases-on-demands-app-info bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="phases-on-demands-app-info-box">
                    <div class="card border-0 rounded-0 bg-transparent">
                        <div class="text-center">
                            <h3 class="card-title mb-0">Platform</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="card-info-block">
                                <h4 class="small-heading">iOS Development</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-Swift.svg" alt="Swift" title="Swift" class="img-fluid"></span> Swift</li> 
                                   <li><span><img src="../../assets/img/icon-Xcode.svg" alt="Xcode" title="Xcode" class="img-fluid"></span> Xcode</li> 
                                </ul>
                            </div>
                            <div class="card-info-block">
                                <h4 class="small-heading">Android Development</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-Java.svg" alt="Java" title="Java" class="img-fluid"></span> Java</li> 
                                   <li><span><img src="../../assets/img/icon-Kotlin.svg" alt="Kotlin" title="Kotlin" class="img-fluid"></span> Kotlin</li> 
                                   <li><span><img src="../../assets/img/icon-Android-Studio.svg" alt="Android Studio" title="Android Studio" class="img-fluid"></span> Android Studio</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="phases-on-demands-app-info-box">
                    <div class="card border-0 rounded-0 bg-transparent">
                        <div class="text-center">
                            <h3 class="card-title mb-0">Back-End Development</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="card-info-block">
                                <h4 class="small-heading">Web Development</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-nodejs.svg" alt="Node Js" title="Node Js" class="img-fluid"></span> JavaScript (Node.js)</li> 
                                   <li><span><img src="../../assets/img/icon-Python.svg" alt="Python" title="Python" class="img-fluid"></span> Python (Django or Flask)</li> 
                                   <li><span><img src="../../assets/img/icon-Ruby-On-Rails.svg" alt="Ruby on Rails" title="Ruby on Rails" class="img-fluid"></span> Ruby on Rails</li> 
                                </ul>
                            </div>
                            <div class="card-info-block">
                                <h4 class="small-heading">Database</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-c.svg" alt="Relational Database" title="Relational Database" class="img-fluid"></span> Relational Database</li> 
                                   <li><span><img src="../../assets/img/icon-Postgre-sql.svg" alt="PostgreSQL" title="PostgreSQL" class="img-fluid"></span> PostgreSQL</li> 
                                   <li><span><img src="../../assets/img/icon-Mysql.svg" alt="MySQL" title="MySQL" class="img-fluid"></span> MySQL</li> 
                                </ul>
                            </div>
                            <div class="card-info-block">
                                <h4 class="small-heading">Cloud Hosting</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-Aws.svg" alt="AWS" title="AWS" class="img-fluid"></span> AWS (Amazon Web Services)</li> 
                                   <li><span><img src="../../assets/img/icon-DigitalOcean.svg" alt="DigitalOcean" title="DigitalOcean" class="img-fluid"></span> DigitalOcean</li> 
                                   <li><span><img src="../../assets/img/icon-c.svg" alt="App Design Specification" title="App Design Specification" class="img-fluid"></span> App Design Specification</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="phases-on-demands-app-info-box">
                    <div class="card border-0 rounded-0 bg-transparent">
                        <div class="text-center">
                            <h3 class="card-title mb-0">App Design</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="card-info-block">
                                <h4 class="small-heading">Mobile App Design</h4>
                                <ul class="list-block">
                                    <li><span><img src="../../assets/img/icon-Adobe_XD.svg" alt="Adobe XD" title="Adobe XD" class="img-fluid"></span> Adobe XD</li> 
                                    <li><span><img src="../../assets/img/icon-Figma.svg" alt="Figma" title="Figma" class="img-fluid"></span> Figma</li> 
                                </ul>
                            </div>
                            <div class="card-info-block">
                                <h4 class="small-heading">Wireframe Design Tool</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-Balsamiq.svg" alt="Balsamiq" title="Balsamiq" class="img-fluid"></span> Balsamiq</li> 
                                   <li><span><img src="../../assets/img/icon-Sketch.svg" alt="Sketch" title="Sketch" class="img-fluid"></span> Sketch</li> 
                                </ul>
                            </div>
                            <div class="card-info-block">
                                <h4 class="small-heading">Integrated Development Environment (IDE)</h4>
                                <ul class="list-block">
                                   <li><span><img src="../../assets/img/icon-VS_Code.svg" alt="Visual Studio Code" title="Visual Studio Code" class="img-fluid"></span> Visual Studio Code</li> 
                                   <li><span><img src="../../assets/img/icon-Sublime.svg" alt="Sublime Text" title="Sublime Text" class="img-fluid"></span> Sublime Text</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>