<section class="phases-on-demands-app-area">
    <div class="container">
        <div class="row">
            <div class="col-full">
                <div class="heading-main-sec text-start">
                    <h3><span>Phases</span></h3>
                    <h4>Phases in Developing On-Demand Apps</h4>
                </div>
            </div>
        </div>

        <div class="phases-on-demands-app-block">
            <div class="phases-on-demands-app-block-inner">
                <h4>Understanding Requirements</h4>    
                <ul class="bullet-list">
                    <li>Grasp business challenges</li>
                    <li>Analyze specific needs</li>
                    <li>Propose tailored solutions</li>
                </ul>
                <div class="phases-on-demands-app-block-inner-img">
                    <img src="../../assets/img/phases-developing-app01.png" alt="Understanding Requirements" title="Understanding Requirements" class="img-fluid">
                </div>
            </div>
            <div class="phases-on-demands-app-block-inner">
                <h4>Consultation & Strategy</h4>    
                <ul class="bullet-list">
                    <li>Grasp business challenges</li>
                    <li>Analyze specific needs</li>
                    <li>Propose tailored solutions</li>
                </ul>
                <div class="phases-on-demands-app-block-inner-img">
                    <img src="../../assets/img/phases-developing-app01.png" alt="Understanding Requirements" title="Understanding Requirements" class="img-fluid">
                </div>
            </div>
            <div class="phases-on-demands-app-block-inner">
                <h4>UI/UX Designing</h4>    
                <ul class="bullet-list">
                    <li>Grasp business challenges</li>
                    <li>Analyze specific needs</li>
                    <li>Propose tailored solutions</li>
                </ul>
                <div class="phases-on-demands-app-block-inner-img">
                    <img src="../../assets/img/phases-developing-app01.png" alt="Understanding Requirements" title="Understanding Requirements" class="img-fluid">
                </div>
            </div>
            <div class="phases-on-demands-app-block-inner">
                <h4>Back-end & API Development</h4>    
                <ul class="bullet-list">
                    <li>Grasp business challenges</li>
                    <li>Analyze specific needs</li>
                    <li>Propose tailored solutions</li>
                </ul>
                <div class="phases-on-demands-app-block-inner-img">
                    <img src="../../assets/img/phases-developing-app01.png" alt="Understanding Requirements" title="Understanding Requirements" class="img-fluid">
                </div>
            </div>
            <div class="phases-on-demands-app-block-inner">
                <h4>On-demand App Development</h4>    
                <ul class="bullet-list">
                    <li>Grasp business challenges</li>
                    <li>Analyze specific needs</li>
                    <li>Propose tailored solutions</li>
                </ul>
                <div class="phases-on-demands-app-block-inner-img">
                    <img src="../../assets/img/phases-developing-app01.png" alt="Understanding Requirements" title="Understanding Requirements" class="img-fluid">
                </div>
            </div>
            <div class="phases-on-demands-app-block-inner">
                <h4>Testing and Launch</h4>    
                <ul class="bullet-list">
                    <li>Grasp business challenges</li>
                    <li>Analyze specific needs</li>
                    <li>Propose tailored solutions</li>
                </ul>
                <div class="phases-on-demands-app-block-inner-img">
                    <img src="../../assets/img/phases-developing-app01.png" alt="Understanding Requirements" title="Understanding Requirements" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
</section>