<section class="blog-details-hero">
       <div class="blog-details-hero-banner">
            
            <img src="../../../assets/img/blog-details-hero-banner01.png" alt="Blog details" class="img-fluid" />
            <div class="blog-details-hero-banner-info">
                <div class="blog-back-link d-flex align-items-center gap-2">
                    <a href="#" class="blog-back">
                        <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23 9L2.65719 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.46079 0.999913L0.999311 8.99989L9.46091 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a> Back
                </div>

                <div class="blog-details-hero-banner-info-block">
                <h4 class="blog-details-title-sm">Seo</h4>
                <h2 class="blog-details-title">Awesome WordPress Web Development Tools You Can't-Miss in 2022</h2>
            </div>
        </div>
        </div>
</section>
<section class="summary-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="summary-intro">
                    <h3><span>(Intro)</span></h3>
                  </div>
            </div>
            <div class="col-md-8 summary-paragraph">
                <h3><span></span></h3>
                <p>Here's a list of the best WordPress Web Development Tools of 2022! Check this out if making your work easier is on your New Year's projects from start to finish.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 summary-col">
                <h3>Table of Contents</h3>

                    <ul class="summary-list">
                        <li class="item"><a href="#started-heading" class="link-item">Lorem Ipsum Dolar</a></li>
                        <li class="item"><a href="#desired-outcomes-heading" class="link-item">Lorem Ipsum</a></li>
                        <li class="item"><a href="#work-process-heading" class="link-item">Lorem Ipsum</a></li>
                        <li class="item"><a href="#the-vision-heading" class="link-item">Lorem Ipsum</a></li>
                        <li class="item"><a href="#aesthetic-choices-heading" class="link-item">Lorem Ipsum</a></li>
                    </ul>
            </div>
            <div class="col-md-8">
                <div class="Where-we-started-heading" id="started-heading">
                    <h3>Lorem Ipsum Dolar</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor.</p>

                    <h4>Lorem ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor. Lorem ipsum dolor sit amet,</p>

                    <h4>Lorem ipsum</h4>

                    <ul>
                        <li>
                            <img src="../../../assets/img/right-arrow.svg" alt="right-arrow">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </li>
                        <li>
                            <img src="../../../assets/img/right-arrow.svg" alt="right-arrow">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </li>
                        <li>
                            <img src="../../../assets/img/right-arrow.svg" alt="right-arrow">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </li>
                    </ul>
                </div>
                <div class="desired-outcomes" id="desired-outcomes-heading">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor.</p>
                </div>
                <div class="work-process" id="work-process-heading">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor.</p>
                </div>             
                <div class="the-vision" id="the-vision-heading">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor.</p>
                    
                    <div class="the-vision-images">
                        <img src="../../../assets/img/the-vision-img-1.webp" class="the-vision-img-1" alt="the-vision-img">
                        <img src="../../../assets/img/the-vision-img-2.webp" class="the-vision-img-2" alt="the-vision-img">
                    </div>
                </div>
                <div class="aesthetic-choices" id="aesthetic-choices-heading">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis placerat enim, tempus tempor ante. In quis cursus turpis. Sed vehicula tincidunt diam, eget porta odio ornare in. Integer rutrum metus et metus placerat sollicitudin. Quisque scelerisque eros quis nulla mattis, id rhoncus neque auctor.</p>
                </div>
            </div>
        </div>
    </div>
</section>
