<section  class="Our-Blogs-sec">
  <div class="circle-bg bg-top"></div>
<div class="container">
  <div class="row">
    <div class="col-full">
      <div class="heading-main-sec">
        <h3><span>{{blogSecSubTitle}}</span></h3>
        <h4>{{blogSecTitle}}</h4>
      </div>
    </div>
    <div class="Our-Blogs-gallery-outer">
      <div class="Our-Blogs-gallery-filter d-flex align-items-center justify-content-center">
        <button class="btn-gal all seo">SEO</button>
        <button class="btn-gal design">Design</button>
        <button class="btn-gal development">Development</button>
        <button class="btn-gal appdevelopment">App Development</button>
        <button class="btn-gal webdevelopment">Web Development</button>
      </div>

      <div class="Our-Blogs-gallery-outer-block">
        <div class="row grid">
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item seo development">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent bg-transparent">
                <img src="../../../assets/img/our-blogs-08.webp" class="card-img-top" alt="SEO">
                <div class="card-body">
                  <h5 class="card-title">Seo</h5>
                  <p class="card-text">Awesome WordPress Web Development Tools You Can't-Miss in 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item design seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-02.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Everything you need to know about the top 10 DevOps tools in 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item appdevelopment all seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-03.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Web Development in 2022: Latest Trends, Mistakes, Misconceptions</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item design seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-04.webp" class="card-img-top" alt="On-Demand App Development">
                <div class="card-body">
                  <h5 class="card-title">On-Demand App Development</h5>
                  <p class="card-text">The Ultimate Guide To Developing An On-Demand App</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item seo appdevelopment">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-05.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Seo</h5>
                  <p class="card-text">Ultimate SEO Trends to Boost Your Website Ranking In 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item webdevelopment appdevelopment">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-06.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">8 Latest Mobile App Development Trends to Follow in 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item design seo development all">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-07.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Ways to Boost Mobile App Traffic & Increase Business Revenue</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item webdevelopment development seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-08.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Best Practices for Mobile UX Design to Amaze Users</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item seo appdevelopment">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-09.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">8 Must-Have WordPress Development Tools For Business Website</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item seo development">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent bg-transparent">
                <img src="../../../assets/img/our-blogs-08.webp" class="card-img-top" alt="SEO">
                <div class="card-body">
                  <h5 class="card-title">Seo</h5>
                  <p class="card-text">Awesome WordPress Web Development Tools You Can't-Miss in 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item design seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-02.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Everything you need to know about the top 10 DevOps tools in 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item appdevelopment all seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-03.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Web Development in 2022: Latest Trends, Mistakes, Misconceptions</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item design seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-04.webp" class="card-img-top" alt="On-Demand App Development">
                <div class="card-body">
                  <h5 class="card-title">On-Demand App Development</h5>
                  <p class="card-text">The Ultimate Guide To Developing An On-Demand App</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item seo appdevelopment">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-05.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Seo</h5>
                  <p class="card-text">Ultimate SEO Trends to Boost Your Website Ranking In 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item webdevelopment appdevelopment">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-06.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">8 Latest Mobile App Development Trends to Follow in 2022</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item design seo development all">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-07.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Ways to Boost Mobile App Traffic & Increase Business Revenue</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item webdevelopment development seo">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-08.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">Best Practices for Mobile UX Design to Amaze Users</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 grid-item element-item seo appdevelopment">
            <div class="Our-Blogs-gallery-outer-block-box">
              <div class="card h-100 bg-transparent">
                <img src="../../../assets/img/our-blogs-09.webp" class="card-img-top" alt="Design & Development">
                <div class="card-body">
                  <h5 class="card-title">Design & Development</h5>
                  <p class="card-text">8 Must-Have WordPress Development Tools For Business Website</p>
                  <div class="card-readmore">
                    <a href="#" class="card-arrow d-flex align-items-center justify-content-center">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3495_5971)">
                        <path d="M14.3876 7.11042L5.90234 15.5957" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.60938 6.40332L15.1006 6.40927L15.0947 14.8886" stroke="#F26E65" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3495_5971">
                        <rect width="15" height="14" fill="white" transform="translate(0.246094 11.3535) rotate(-45)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
          <div class="blogs-load-more text-center">
            <button type="submit" id="gallery-more" class="btn btn-primary rounded-pill">Load More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="circle-bg bg-middle-right"></div>
<div class="circle-bg bg-bottom"></div>
</section>


